@import 'form-variables';

.active {
    .selector-items {
        opacity: 1;
        transform: scaleY(1) translateY(0);
        border-color: $yellow;
    }
}

.selector-items {
    
    max-height: 8*$selector-item-height;

    overflow-y: auto;

    position: absolute;
    z-index: 10;
    top: calc(100% - 0.5*$padding-standard);
    left: -1px;
    right: -1px;

    padding-top: $padding-standard;
    background-color: $controlBg;
    border-bottom-left-radius: $form-radius;
    border-bottom-right-radius: $form-radius;
    border: $input-border;
    border-top: 0;

    transition: $transition-standard;
    transform: scaleY(0) translateY(-70%);
    opacity: 0;

    .selector-item {
        padding: 0 $padding-standard;
        height: $selector-item-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .side-img {
            .svg-wrapper {
                svg {
                    width: 30px;
                }
            }
        }

        
        cursor: pointer;
        transition: $transition-standard;
        &:hover {
            background-color: $yellowTransparent;
        }

    }
}

.floating {
    .selector-items {
        min-width: 300px;
        border-radius: $form-radius;

        top: 30px;
        .icon-button {
            img {
                max-height: 30px;
                aspect-ratio: unset;
            }
        }
    }
}