@import 'variables';

$markerSize: 40px;

.marker {
    height: $markerSize;
    width: $markerSize;
    border-radius: 50%;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bgTwo;
    
    background-color: $bgTwo;
    color: $primaryColor;
    border: 2px solid $primaryColor;
}

.opposite {
    margin-bottom: 75px;
    color: $textColor;
}

.content {
    margin-bottom: $padding-standard;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2*$padding-standard;
}


.p-card {
    position: relative;
}

.card-corner {
    position: absolute;
    right: 0;
    top: 0;
    color: $primaryColor;
}