<app-header [floating]="true" ></app-header>

<div class="landing">

    <div class="landing-left">

        <app-logo></app-logo>
        <h1 class="fs1 baron red">Unity Management</h1>
        <h2 class="fs3 baron light">The best music style making your event shine</h2>
        <p>A professional booking agency that concentrates on high-quality music, managing international bookings & representing top-level artists exclusively worldwide.</p>

        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="landing-right">
        <app-menu-button></app-menu-button>
        
        <app-homepage-form></app-homepage-form>
    </div>

</div>

<div class="test"></div>