@import 'color';
@import 'variables';
@import 'font';

.landing {
    min-height: 100vh;
    width: 100%;
    margin-top: 0.5*$header-margin;

    display: flex;
    flex-wrap: wrap;
}

.landing-left, .landing-right {
    width: 50%;
}

.landing-left {
    display: flex;
    flex-direction: column;
    gap: 2*$padding-standard;

    padding-left: $page-padding;

    p {
        max-width: 20vw;
    }

}

.landing-right {
    padding-right: $page-padding;
    gap: $padding-standard*4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.test {
    background-color: $red;
    height: 800px;
}