@import 'color';
@import 'variables';
@import 'variables-desc';
@import 'form';


$view-padding: 4*$padding-standard;

.edit-toggle-container {
    position: fixed;
    top: 12%;
    left: 0;
    z-index: 100;
}

.edit-toggle {
    background-color: $primaryColor;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    margin-bottom: $padding-standard;
    box-shadow: $shadow-standard;
}

.desktop {

    .edit-toggle-container {
        position: fixed;
        top: 30%;
    }

    .image-bg-item {
        max-height: 100vh;
    }

    .view-content {
        .grid-container {
            &.one {
                row-gap: 0; 
                grid-template-columns: $avatar-size 2fr 1fr;
                margin-bottom: $padding-standard;
                margin-bottom: 4*$padding-standard;
            }
            grid-template-columns: 2fr 1fr;
            column-gap: 2*$padding-standard;
            row-gap: $padding-standard;

            &.two {
                margin-bottom: 4*$padding-standard;
    
                .tiles-column {
                    gap: 2*$padding-standard;

                    &.right-on-desktop {
                        order: 2;
                    }
                }
            }
        }

    }

}

.image-bg {
    height: 100%;
    position: fixed;
    width: 100vw;
    max-height: 100vh;
    white-space: nowrap;
    background-color: $bg;
    opacity: 0.7;
}

.book-now-btn {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.view-content {
    position: relative;
    min-height: 100vh;

    .spacer {
        height: 30vh;
    }

    .grid-container {
        &.one {
            row-gap: 0; 
            grid-template-columns: $avatar-size 1fr;
            margin-bottom: $padding-standard;
        }
        &.two {
            margin-bottom: 4*$padding-standard;

            .tiles-column {
                order: 1;
                display: flex;
                flex-direction: column;
                gap: $padding-standard;
            }
        }
        
        padding-left: $view-margin-2-desc;
        padding-right: $view-margin-2-desc;
        display: grid;
        column-gap: $padding-standard;
        row-gap: $padding-standard;
        grid-template-columns: 1fr;
        width: 100%;
    }
}

.menu-button {
    padding-top: 0.5*$header-margin;
    margin-right: $view-padding;
    display: flex;
    justify-content: flex-end;
}

.edit-button {
    color: $highlightBg;
    padding: 0.2*$padding-standard 0.5*$padding-standard;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 1px solid $highlightBg;
    @extend .fs5;
    z-index: 5;

    position: absolute;
    top: 0;
    right: 0;
    &.inline {
        position: unset;
        margin: 0 $padding-standard;
    }
}

