
<app-header [floating]="true" [label]="artistName"></app-header>

@if (_editable$ | async) {
    <div class="edit-toggle">
        <app-icon-button
            (click)="_editToggle()"
            icon="edit"
            [active]="true"
        ></app-icon-button>
    </div>
}

<div class="artist" *ngIf="_artist$ | async as artist">

    <div class="background-editor" *ngIf="_editMode$ | async as editMode">
        <app-background-editor></app-background-editor>
    </div>
    
    <div class="image-bg">

        <app-background
        ></app-background>

    </div>
    
    <div class="view-content">

        @if (DESKTOP) {
            <div class="menu-button">
                <app-menu-button></app-menu-button>
            </div>
        }

        <div class="spacer"></div>

        <div class="avatar-container margin-bottom-2">

            <app-avatar></app-avatar>

            <div>
                <h1 class="fs1 light baron">{{artist?.name}}</h1>
                <app-country [countryCode]="artist?.countryCode!"></app-country>
            </div>
            
            @if (DESKTOP) {
                <div class="flexer"></div>
            }

            <app-btn
                class="light"
                [active]="true"
                (click)="_onBookNow()"
                label="Book now"
                icon="list_alt"
            ></app-btn>
        </div>


        <div class="content">

            <div class="about-me tile big col66">
                <p class="fs2 baron red margin-bottom-2">About me</p>
                <app-textarea-element [value]="artist?.bio ??''"></app-textarea-element>
            </div>

            <div class="col33">
                <div class="tile">
                    <p class="fs2 baron red margin-bottom">Connect</p>
                    @for (media of artist?.medias; track media.code) {

                        <app-media-item [media]="media"
                            class="margin-bottom"
                        ></app-media-item>

                    }
                </div>

            </div>

        </div>

    </div>
</div>


