
<app-header [floating]="true" [label]="artistName"></app-header>

@if (_editable$ | async) {
    <div class="edit-toggle-container">

        <ng-container *ngIf="_editMode$ | async as editMode; else notEdit">
            <div class="edit-toggle hovergrow fs3" matTooltip="Save progile changes">
                <app-icon-button
                    (click)="_save()"
                    icon="save"
                    [active]="true"
                ></app-icon-button>
            </div>
            <div class="edit-toggle hovergrow fs3" matTooltip="Cancel profile changes">
                <app-icon-button
                    (click)="_discard()"
                    icon="cancel"
                    [active]="true"
                ></app-icon-button>
            </div>
        </ng-container>

        <ng-template #notEdit>
            <div class="edit-toggle" matTooltip="Start edit profile">
                <app-icon-button
                    (click)="_editToggle()"
                    icon="edit"
                    [active]="true"
                ></app-icon-button>
            </div>
        </ng-template>
    </div>
}

<div class="artist" *ngIf="_artist$ | async as artist">

    <div class="background-editor" *ngIf="_editMode$ | async as editMode">
        <app-background-editor></app-background-editor>
    </div>
    
    <div class="image-bg">
        <app-background></app-background>
    </div>
    
    <div class="view-content">

        @if (DESKTOP) {
            <div class="menu-button">
                <app-menu-button></app-menu-button>
            </div>
        }

        <div class="spacer"></div>

        <div class="grid-container one">

            <app-avatar></app-avatar>

            <app-name></app-name>

            @if (!DESKTOP) {
                <div></div>
            }

            <div class="book-now-btn">
                <app-btn
                    class="light book-now"
                    [active]="true"
                    (click)="_onBookNow()"
                    label="Book now"
                    icon="list_alt"
                ></app-btn>
            </div>

        </div>

        <div class="grid-container two">

            @if (!DESKTOP) {
                <div class="style-tile">
                    <div class="tile big">
                        <p class="tile-header chip-label">Styles</p>
                        <app-style></app-style>
                    </div>
                </div>
            }

            <app-bio class="bio-tile"></app-bio>

            <app-medias></app-medias>

        </div>

    </div>
</div>


