@if (_formArrayName) {

    <div [formArrayName]="_formArrayName">

        @for(group of step.groups; track group.name; let i = $index; let last = $last) {

            @if (step.groups.length > 1) {
                <h2 class="grey margin-bottom" >{{group.name}}</h2>
            }

            @if (_formGroups![i]) {
                
                <form [formGroup]="_formGroups![i]" class="form-group">

                    @for(control of group.controls; track control.name; let j = $index) {
        
                        <app-control [control]="control"></app-control>
                    }
    
                </form>
            }

            @if (!last) {
                <div class="separation"></div>
            }

        }


    </div>

}