@import 'variables';
@import 'panel';

.desktop {
    .booking-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    }

    .booking-item p:last-of-type {
        text-align: unset;
    }
}

.bookings-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $padding-standard;
    background-color: $bg;
    padding-top: $header-height;
    padding-bottom: 4*$padding-standard;
}

.bookings-header {
    padding: $padding-standard;
}

.booking-header {
    display: flex;
    justify-content: space-between;
}

.booking-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

