<div class="panel-container">

    @if (_bookings$ | async)  {
            @if (_bookingsAsManager.length) {
                <app-bookings-section
                    header="Received booking requests"
                    [bookings]="_bookingsAsManager"
                ></app-bookings-section>
            }   
            @if (_bookingsAsPromoter.length) {
                <app-bookings-section
                    header="Sent booking requests"
                    [bookings]="_bookingsAsPromoter"
                ></app-bookings-section>
            }
            @if (_bookingsAsArtist.length) {
                <app-bookings-section
                    header="Artist booking request"
                    [bookings]="_bookingsAsArtist"
                ></app-bookings-section>
            }
    }

    <div class="panel-section card" *ngIf="(_formData$ | async) as formData">
        <div class="panel-section-header">
          <h2 class="fs3 bold">Booking request form data</h2>
          <app-icon-button
              class="primary"
              (click)="_closeBooking()"
              icon="pi-times"
          ></app-icon-button>
        </div>

        <app-form-presentation 
            [data]="formData"
            [structure]="_bookingFormStructure.form"
        ></app-form-presentation>
    </div>

    <app-sign></app-sign>

</div>

