<div class="panel-container">

    @if (_bookings$ | async)  {
        <div></div>
            @if (_bookingsAsManager.length) {
                <app-bookings-section
                    header="Received booking requests"
                    [bookings]="_bookingsAsManager"
                    (refreshBookings)="_refreshBookings($event)"
                ></app-bookings-section>
            }   
            @if (_bookingsAsPromoter.length) {
                <app-bookings-section
                    header="Sent booking requests"
                    [bookings]="_bookingsAsPromoter"
                    (refreshBookings)="_refreshBookings($event)"
                ></app-bookings-section>
            }
            @if (_bookingsAsArtist.length) {
                <app-bookings-section
                    header="Artist booking request"
                    [bookings]="_bookingsAsArtist"
                    (refreshBookings)="_refreshBookings($event)"
                ></app-bookings-section>
            }
    }

    <div class="panel-section form-data" *ngIf="(_formData$ | async) as formData">
        <div class="panel-section-header">
            <h2 class="fs3 light booking-header">
                <div></div>
                <app-icon-button
                    class="red"
                    (click)="_closeBooking()"
                    icon="close"
                ></app-icon-button>
            </h2>
        </div>
        <app-form-presentation 
            [data]="formData"
            [structure]="_bookingFormStructure.form"
        ></app-form-presentation>
    </div>

    <app-sign></app-sign>

</div>

