@import 'variables';

img, svg {
    width: 1.5em;
    height: 1.5em;
    aspect-ratio: 1/1;
    display: flex;
}

.icon-button {
    cursor: pointer;
    padding: 0.5*$padding-standard;
}

.svg-wrapper {
    display: flex;
}