@import 'variables';
@import 'font';

:host {
    font-size: 14px;
}

.country-container {
    display: flex;
    align-items: center;
    gap: 0.5*$padding-standard;
}

img {
    max-height: 1.2em;
}
