@import 'variables';

.sidebar-container {
    overflow: visible;
    height: 100%;
    background-color: $bgTwo;
    border-right: 1px solid $surfaceBorder;
    // padding: $padding-standard 0 $padding-standard $padding-standard;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}