
<div #formSelector class="form-input app-selector">

    <div class="form-input-wrapper">
        <div>
            <p class="form-input-label">{{_label}}</p>
            <input
                #selectorControl 
                class="form-input-control"
                [placeholder]="placeholder"
                [value]="_displayValue"
                [attr.disabled]="disabled ? true : null"
                (input)="_onInput($event)"
                type="text"
                />
        </div>

        @if (_item) {
            @if (_item.imgUrl) {
                <app-icon-button
                    class="border"
                    [button]="false"
                    [src]="_item.imgUrl"
                    [chachedImg]="chachedImg"
                ></app-icon-button>
            } 
            @else if (_item.svg) {
                <app-icon-button
                    class="border"
                    class="side-img"
                    [button]="false"
                    [mediaIcon]="_item.svg"
                ></app-icon-button>
            }
        }

    </div>

    
    <div class="selector-items">
        <div *ngFor="let item of _items"
            class="selector-item form-input-control"
            (click)="_select(item, $event)"

        ><span class="dark">{{item.name}}</span>


        @if (item.imgUrl) {
            <app-icon-button
                class="border"
                [button]="false"
                [src]="item.imgUrl"
                [chachedImg]="chachedImg"
            ></app-icon-button>
            } 
            @else if (item.svg) {
            <app-icon-button
                class="side-img"
                [button]="false"
                [mediaIcon]="item.svg"
            ></app-icon-button>
        }

    </div>

</div>
