@import 'variables';
@import 'variables-desc';
@import 'color';
@import 'form';


.active {
    .form-input.app-selector {
        border-color: $yellow;
        background-color: $inputBg;
    }
}

.app-selector {
    position: relative;

    &:hover {
        .form-input {
            border-color: $yellow;
        }
    }

    padding-right: calc($padding-standard + $scroll-width);

}


.form-input {
    z-index: 3;
    @extend .pointer;
}