
<div #formSelector class="form-input app-selector">

    <div class="form-input-wrapper">
        <div>
            <p class="form-input-label">{{_label}}</p>
            <input
                #selectorControl 
                class="form-input-control"
                [placeholder]="placeholder"
                [value]="_item?.name"
                [attr.disabled]="disabled ? true : null"
                (input)="_onInput($event)"
                type="text"
                />
        </div>

        @if (_item) {
            @if (_item.imgUrl) {
                <app-icon-button
                    class="border"
                    [button]="false"
                    [src]="_item.imgUrl"
                    [chachedImg]="chachedImg"
                ></app-icon-button>
            } 
            @else if (_item.svg) {
                <app-icon-button
                    class="border"
                    class="side-img"
                    [button]="false"
                    [mediaIcon]="_item.svg"
                ></app-icon-button>
            }
        }

    </div>

    <app-selector-items
        [items]="_items"
        [chachedImg]="chachedImg"
        (select)="_select($event)"
    ></app-selector-items>

</div>
