@import 'variables';
@import 'scrollbar';
@import 'color';
@import 'font';
@import 'form';
@import 'popup';


* {
    box-sizing: border-box;
}

.desktop {
    .w50-desktop {
        width: 50%;
    }
}

.d-flex {
    display: flex;
}
.w50 {
    width: 50%;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.block {
    display: block;
}

.card {
    svg {
        fill: #fff;
    }
}

app-img-cached {
    display: flex;
}