@import 'variables';
@import 'scrollbar';
@import 'color';
@import 'font';
@import 'form';
@import 'primeng-override';

* {
    box-sizing: border-box;
}

.desktop {
    .w50-desktop {
        width: 50%;
    }
}

.d-flex {
    display: flex;
    align-items: center;
}
.w50 {
    width: 50%;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.block {
    display: block;
}

.card {
    svg {
        fill: #fff;
    }
}

.relative {
    position: relative;
}

app-img-cached {
    display: flex;
}

app-icon {
    display: contents;
}

.card {
    background-color: $bgTwo;
    color: $textColor;
    box-shadow: $shadow-standard;
    border-radius: $borderRadius;

    .card-highlight {
        background-color: $highlightBg;
    }
}