<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech rider</title>
    <link rel="stylesheet" href="pdf-styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Tech Rider + Stage pilot + Hospitality</h1>
        </div>
        
        <div class="section">
            <p class="text-indent">
                This document details the equipment that is required in order for the artist to perform at your event. 
                It is important that all items requested within this document are present and in good working order when he 
                arrives. 
            </p>
            <p>
                If you have any questions or difficulties for providing the following equipment / hospitality please contact 
                {{agencyName}} which will surely work out a solution.
            </p>
            <div class="list-with-title">
                <p>Contacts:</p>
                <ul>
                    <li>Tel: {{agencyPhone}}</li>
                    <li>Email: {{agencyEmail}}</li>
                </ul>
            </div>
        </div>
        
        <div class="section">
            <h2 class="section-title no-indent">Promotor agrees to provide:</h2>
            <ul>
                <li>1 x DJM-900NXS2 mixer updated to the latest firmware</li>
                <li>2 x Pioneer CDJ3000’s [Preferred] or CDJ2000NXS2’s Fully Linked / Updated</li>
                <li>1x Stage Riser (approx 90cm high, 300cm long, 100cm deep) or, a sturdy / wobble-free table of the same 
                    measure, to fit the instruments and both CDJs and DJ mixer. There must be plentiful lighting around the 
                    CDJ’s and suitable table.</li>
                <li> 1x Black drop cloth to fully cover the front and sides of the stage rider / table.</li>
                <li>Two (2) 15” Format Monitors with Two (2) Double 18” Subwoofers or similar, with Booth Volume 
                    Control.</li>
                <li>1 x Surge-protector power strip with a minimum of four (4) slots.</li>
                <li>Fans on stage placed to direct air to the DJ area.</li>
                <li>Four (4) Lightwave Lasers, or similar to add aesthetically pleasing visual production value.</li>
            </ul>
            <p>
                Set up or line-check takes about 15 minutes. Ideal is the artist can be fully set up at least 30 Minutes prior to 
                his stage time.  
            </p>
        </div>
        
        <div class="section">
            <h2 class="section-title">Sound & Light</h2>
            <div class="subsection">
                <p class="text-indent sub-title"><b>Sound:</b></p>
                <p>
                    1st class PA System w/minimum 2 full range speakers & 2 sub woofers! The system must be able to 
                    produce sufficient loudness and bass response. Sound System must be able to produce sub bass down to 
                    20hz. Please ensure no HPF’s are on above this range, and frequency response is flat from 28- 60hz. The 
                    performance shall not occur if proper loudness and tuning is not achievable. We assume that there is a well
                    sized PA system provided for the concert room/ dancehall with sufficient power to supply a clean and 
                    undistorted sound and a powerful and feedback proof monitor system. 
                </p>
            </div>
            <div class="subsection">
                <p class="text-indent sub-title"><b>Light:</b></p>
                <p>
                    Separate circuit from sound system! Sufficient for venue! One spot-light oriented on the artist and his 
                    equipment + moving coloured lights. No smoke machines! 
                </p>
                <p>
                    The performance shall not occur in excessively reverberated spaces (churches, warehouses, etc.) Please 
                    notify us ahead of time if the performance space is perceivably “echoey.” 
                </p>
            </div>
            <div class="subsection">
                <p class="text-indent sub-title"><b>Staff:</b></p>
                <p>
                    A qualified sound engineer is needed, stage technician and light technician.
                </p>
            </div>
        </div>
        
        <div class="section">
            <h2 class="section-title">Hospitality</h2>
            <p class="text-indent">
                The promoter will allow 1 dressing rooms minimum for 2 people. These will be clean, enlightened, 
                comfortable, and must have the option of being closed with a key, which will exclusively be used by the 
                ARTIST and his crew. The stage must be directly linked to those dressing rooms by an enlightened and 
                covered way with a solid floor. The rooms should have a Wifi connexion. Only the owner of a back stage 
                pass (Artist ‘s pass and/or Promotor’s pass) in due form will be authorised to access to the dressing- rooms or 
                to the back stage area.
            </p>
            <p>
                The Promoter will take care that the ARTIST will never have to cross the audience to reach the stage.
            </p>
            <p>
                The performance shall not occur in excessively reverberated spaces (churches, warehouses, etc.) Please 
                notify us ahead of time if the performance space is perceivably “echoey.” 
            </p>
        </div>
        
        
        <div class="section">
            <div class="section">
                <div class="header">
                    <p>E-mail: {{agencyEmail}}</p>
                    <p>{{agencyFooterString}}</p>
                    <p>phone: {{agencyPhone}}</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
