@import 'variables';

.template-subsection {
    padding: $padding-standard;
    padding-top: 0;
}
.template-subsection-header {
    color: $primaryColor;
    margin-top: $padding-standard;
    margin-bottom: .5*$padding-standard;

    &.text-color {
        color: $textColor;
    }
}

.defaut-tempalte-tile {
    p {
        text-align: left;
    }
}

.item-row {
    margin-bottom: 0.25*$padding-standard;
} 

.item-row.pdf-data {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    .menu-icon {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
}

.defaut-tempalte-tile {
    grid-template-columns: 2fr 1fr 1fr;
}