@import 'variables';
@import 'color';
@import 'font';

$paper-step-size: 18px;
.tile-wrapper {

    padding: 0.5*$padding-standard $padding-standard;
    min-width: 300px;

    box-shadow: $shadow-standard;
    border-radius: $radius;
    background-color: $bgTwo;


    .tile-wrapper-row {
        display: flex;
        justify-content: space-between;
    }
    
    .tile-wrapper-header {
        // @extend .fs3;
        text-transform: uppercase;
    }
    
    .tile-wrapper-name {
        color: $light;
        @extend .fs5;
    }

    .tile-wrapper-bottom {
        margin-top: 0.5*$padding-standard;
    }

    .tile-wrapper-stepper {
        display: flex;
        width: 100%;
        gap: $padding-standard;

        .substep-haeder {
            @extend .fs5;
            .pi {
                margin-right: 0.25*$padding-standard;
                font-size: $paper-step-size;
                width: $paper-step-size;
                height: $paper-step-size;
            }
        }
    }
    
    .icon-button {
        padding-top: 0.5*$padding-standard;
    }
}

.p-menu-overlay {
    border-radius: $radius;
    background: $bgOne;
    min-width: 150px;
    box-shadow: $shadow-standard;
    
    .p-submenu-header {
        color: $red;
        padding: $padding-standard;
        font-weight: 600;
    }
    
    a {
        color: $light;
        padding: $padding-standard;
        @extend .highlight;
        @extend .light;
    }
}