<div class="tile-wrapper">

    <div class="tile-wrapper-row tile-wrapper-top">
        <div>
            <div class="tile-wrapper-header">
                {{tile.name}}
            </div>
            <div class="tile-wrapper-name">
                {{tile.subName || tile.template}}
            </div>
        </div>

        <div *ngIf="tileOptions.length">
            <p-menu #menu [model]="items" [popup]="true" />
            <!-- <app-icon-button (onClick)="menu.toggle($event)" test() icon="more_vert" [skipPreventEvent]="true"></app-icon-button> -->
            <app-icon-button (click)="_toggle($event!)" icon="more_vert"></app-icon-button>
        </div>
    </div>
    
    <div class="tile-wrapper-row tile-wrapper-bottom">
        <div class="tile-wrapper-stepper">
            @for (step of tile.tileSteps; track step.name; let i = $index) {
                <app-substep
                    [header]="step.name"
                    [mode]="step.mode"
                ></app-substep>
            }
        </div>
    </div>

</div>