
<ng-container *ngIf="timeline.length > 1">
    <div class="tile big" *ngIf="timeline.length">

        <div class="subheader hide-header">
            <div class="tile-header">Events timeline</div>
        </div>

        <div class="tile-content" *ngIf="editMode">

            <p-accordion value="0" 
                [(activeIndex)]="_eventFormActiveIndex"
                (activeIndexChange)="_toggleEventForm($event)" 
                class="my-accordion no-border padding-05 right">
                <p-accordionTab [header]="'Add event'">
                    <ng-template pTemplate="content">
                        <div class="timeline-form">
                            <form [formGroup]="form" class="form-wrapper" (ngSubmit)="_submit()">
                                <div class="form-grid column">
    
                                    <app-form-field label="*Header">
                                        <input type="text" pInputText formControlName="header"/>
                                    </app-form-field>
    
                                    <app-form-field label="*Start date">
                                        <p-calendar 
                                            formControlName="startDate" 
                                            placeholder="Select..."
                                            dateFormat="dd-mm-yy"
                                            [disabledDates]="disabledDates"
                                        ></p-calendar>
                                    </app-form-field>
    
                                    <app-form-field label="End date">
                                        <p-calendar 
                                            formControlName="endDate" 
                                            placeholder="Select..."
                                            dateFormat="dd-mm-yy"
                                        ></p-calendar>
                                    </app-form-field>
    
                                    <app-form-field label="Subheader">
                                        <input type="text" pInputText formControlName="subheader"/>
                                    </app-form-field>
    
                                    <app-form-field label="Content">
                                        <input type="text" pInputText formControlName="content"/>
                                    </app-form-field>
    
                                </div>
                        
                                <div class="form-buttons">
                                    <p-button
                                        class="form-button primary-btn"
                                        label="Submit"
                                        type="submit"
                                        [raised]="true">
                                    </p-button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </p-accordionTab>
            </p-accordion>
        </div>

        <div class="tile-content">

            <p-accordion value="0" *ngIf="past.length" 
                [(activeIndex)]="_pastEventsActiveIndex" 
                (activeIndexChange)="_shoPastEventsToggle($event)" 
                class="my-accordion no-border padding-05 right">
                <p-accordionTab [header]="_showPastEvents">
                    <ng-template pTemplate="content">
                        <div class="margin-top">
                            <app-timeline-items [editMode]="editMode" [timeline]="past" (close)="_removeItem($event)"></app-timeline-items>
                        </div>
                    </ng-template>
                </p-accordionTab>
            </p-accordion>

            <app-timeline-items [editMode]="editMode" [timeline]="timeline" (close)="_removeItem($event)"></app-timeline-items>
        </div>

    </div>
</ng-container>
