<app-header label="Add artist"></app-header>

<div class="form-page">

    <div class="form-container">
    
        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="input-row">
                <app-input
                    formControlName="name"
                    label="Artist name" 
                    placeholder="Artist stage name..."
                    [required]="true"
                ></app-input>
                <app-selector
                    [items]="_countryItems"
                    [required]="true"
                    formControlName="country"
                    label="Artist country"
                    placeholder="Select artist country..."
                ></app-selector>
            </div>

            <div class="input-row">
                <app-input
                    formControlName="firstName"
                    label="First name" 
                    placeholder="Artist first name..."
                ></app-input>
                <app-input
                    formControlName="lastName"
                    label="Last name" 
                    placeholder="Artist last name..."
                ></app-input>
            </div>
    
            <app-button label="Submit" [active]="form.valid"></app-button>
    
        </form>
    
    </div>
</div>
