@import 'variables';

.form-page {
    width: 100%;

    padding-left: $page-padding-big;
    padding-right: $page-padding-big;
    padding-top: $header-margin;

    .form-container {
        width: 100%;
    }
}