<div class="bookings-container">
    
    <div class="bookings" *ngIf="(_bookingsAsManager$ | async) as bookings">
    
        @if (bookings.length) {
    
            <div class="bookings-header">
                <h2 class="fs3 light">Received booking requests</h2>
            </div>

            <div class="booking-itmes-container">

                <div class="booking-item labels">
                    <p>Event date</p>
                    <p>Submit date</p>
                    <p>Event name</p>
                    <p>Status</p>
                    <p>Artists</p>
                </div>
                @for (booking of bookings; track booking.formId; let last = $last) {
                    
                    <div class="booking-item" (click)="_openBooking(booking)">
                        <p>{{booking.startDate | date : 'dd-MM-yyyy'}}</p>
                        <p>{{booking.submitDate | date : 'dd-MM-yyyy'}}</p>
                        <p>{{booking.eventName}}</p>
                        <p>{{booking.status | status}}</p>
                        <p>{{booking.artistNames.join(', ')}}</p>
                    </div>

                }
            </div>
        }
    </div>

    <div class="bookings form-data" *ngIf="(_booking$ | async) as booking">
        <div class="bookings-header ">
            <h2 class="fs3 light booking-header">
                <span>{{booking.eventName}}</span>
                <span>{{booking.startDate | date : 'dd-MM-yyyy'}} <span *ngIf="booking.endDate"> - {{booking.endDate | date : 'dd-MM-yyy'}}</span></span>                
                <span>{{booking.status | status}}</span>
            </h2>
        </div>

        <div class="profile-form-group" *ngFor="let group of booking?.formData | keyvalue">

            <div class="booking-item labels">
                <p>{{group.key | fromCamel}}</p>
            </div>


            @if (_isArray(group.value)) {

                <div class="array-group" *ngFor="let arrayGroup of _iterable(group.value) || null; let index = index">

                    <div class="profile-form-control" *ngFor="let control of (arrayGroup | keyvalue)">
                        <span class="key">{{control.key | fromCamel}}</span>
                        <span>{{control.value}}</span>
                    </div>
                </div>

            } @else if (group.value) {
                <div class="profile-form-control" *ngFor="let control of (group.value | keyvalue)">
                    <span class="key">{{control.key | fromCamel}}</span>
                    <span>{{control.value}}</span>
                </div>
            }

        </div>


    </div>

    <div class="bookings" *ngIf="(_bookingsAsPromoter$ | async) as bookings">
    
        @if (bookings.length) {
    
            <div class="bookings-header">
                <h2 class="fs3 light">Received booking requests</h2>
            </div>

            <div class="booking-itmes-container">

                <div class="booking-item labels">
                    <p>Event date</p>
                    <p>Submit date</p>
                    <p>Event name</p>
                    <p>Status</p>
                    <p>Artists</p>
                </div>
                @for (booking of bookings; track booking.formId; let last = $last) {
                    
                    <div class="booking-item" (click)="_openBooking(booking)">
                        <p>{{booking.startDate | date : 'dd-MM-yyyy'}}</p>
                        <p>{{booking.submitDate | date : 'dd-MM-yyyy'}}</p>
                        <p>{{booking.eventName}}</p>
                        <p>{{booking.status | status}}</p>
                        <p>{{booking.artistNames.join(', ')}}</p>
                    </div>

                }
            </div>
        }
    </div>
    

</div>