<div class="bookings-container">

    <ng-container *ngIf="(_bookingsAsManager$ | async) as bookingsAsManager">
        @if (bookingsAsManager.length) {
            <div class="bookings">
        
                <div class="bookings-header">
                    <h2 class="fs3 light">Received booking requests</h2>
                </div>
    
                <div class="booking-itmes-container">
    
                    <div class="booking-item labels">
                        <p>Event date</p>
                        <p>Submit date</p>
                        <p>Event name</p>
                        <p>Status</p>
                        @if (DESKTOP) {
                            <p>Artists</p>
                        }
                    </div>
                    @for (booking of bookingsAsManager; track booking.formId; let last = $last) {
                        
                        <div class="booking-item" (click)="_openBooking(booking)">
                            <p>{{booking.startDate | date : 'dd-MM-yyyy'}}</p>
                            <p>{{booking.submitDate | date : 'dd-MM-yyyy'}}</p>
                            <p>{{booking.eventName}}</p>
                            <p>{{booking.status | status}}</p>
    
                            @if (DESKTOP) {
                                <p>{{booking.artistNames.join(', ')}}</p>
                            }
                        </div>
    
                    }
                </div>
            </div>
        }

    </ng-container>

        
    <div class="bookings form-data" *ngIf="(_booking$ | async) as booking">
        <div class="bookings-header ">
            <h2 class="fs3 light booking-header">
                <span>{{booking.eventName}}</span>
                <span>{{booking.startDate | date : 'dd-MM-yyyy'}} <span *ngIf="booking.endDate"> - {{booking.endDate | date : 'dd-MM-yyy'}}</span></span>                
                <span>{{booking.status | status}}</span>
            </h2>
        </div>
        <app-form-presentation 
            [data]="booking.formData"
            [structure]="_bookingFormStructure.form"
        ></app-form-presentation>
    </div>

    <ng-container *ngIf="(_bookingsAsPromoter$ | async) as bookingsAsPromoter">
        @if (bookingsAsPromoter.length) {
            <div class="bookings">

                <div class="bookings-header">
                    <h2 class="fs3 light">Sent booking requests</h2>
                </div>
    
                <div class="booking-itmes-container">
    
                    <div class="booking-item labels">
                        <p>Event date</p>
                        <p>Submit date</p>
                        <p>Event name</p>
                        <p>Status</p>
                        @if (DESKTOP) {
                            <p>Artists</p>
                        }
                    </div>
                    @for (booking of bookingsAsPromoter; track booking.formId; let last = $last) {
                        
                        <div class="booking-item" (click)="_openBooking(booking)">
                            <p>{{booking.startDate | date : 'dd-MM-yyyy'}}</p>
                            <p>{{booking.submitDate | date : 'dd-MM-yyyy'}}</p>
                            <p>{{booking.eventName}}</p>
                            <p>{{booking.status | status}}</p>
                            @if (DESKTOP) {
                                <p>{{booking.artistNames.join(', ')}}</p>
                            }
                        </div>
    
                    }
                </div>

            </div>
        }
    </ng-container>

</div>