
<div class="view">

    <div class="view-main">
        <router-outlet></router-outlet>
    </div>
    
    <app-footer></app-footer>

    @if (courtine$ | async) {
        <div class="courtine">
            <p-progressSpinner 
            styleClass="w-4rem h-4rem" 
            strokeWidth="8" 
            animationDuration=".5s" />
        </div>
    }

</div>


<p-toast />
<p-toast position="top-left" key="tl" />
<p-toast position="bottom-left" key="bl" />
<p-toast position="bottom-right" key="br" />