<div class="style-tile">

    <div class="edit-button" *ngIf="_editMode$ | async as editMode" (click)="_edit()" >
        @if (_editStyleMode) {
            <span class="dark">stop edit styles</span>
        } @else {
            <span class="dark">edit music styles</span>
        }
    </div>

    <div class="tile big">
        
        <p class="fs2 baron red">Style</p>

        <div class="tile-content tile-textarea">
            <app-textarea-element
                #textarea
                class="white"
                [class.edit-mode]="_editStyleMode"
                [value]="(_styles$ | async) || ''"
                [disabled]="!_editStyleMode"
                [rowsInitial]="1"
                (onInput)="_onInput($event)"
            ></app-textarea-element>
        </div>
    </div>

</div>