@import 'variables';
@import 'chip';

.style-tile {
    position: relative;

    .edit-button {
        top: 12px;
        right: 30px;
    }

    .label-subsection {
        position: relative;
        .edit-button {
            top: 0px;
        }
    }
}