@import 'variables';
@import 'variables-desc';
@import 'color';
@import 'form';
@import 'font';
@import 'device';

.show {
    .header-container {
        top: 0;
    }
}

.desktop {
    .header-container {
        padding: 0.2*$padding-standard $view-margin-3-desc;

       .header-section {
            gap: 2*$padding-standard;
       }
    }

}

.header-container {
    top: -120px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;

    background-color: $bgOne;
    transition: $transition-standard;

    padding: 0.2*$padding-standard $view-margin-1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: $border-shadow;

    .header-section {
        display: flex;
        align-items: center;
        gap: 0.5*$padding-standard;

        h1 {
            margin-bottom: 3px;
        }
    }

    .header-logo {
        display: block;
        @extend .hovergrow;
    }

}

.menu-item {
    transition: $transition-standard;
    padding: 0 8px 4px;
    border-radius: $radius;
    @extend .highlight;
    &:hover {
        text-shadow: $text-shadow-red;
    }
}