@import 'variables';

:host.show .header {
    top: 0;
}

.header {
    top: -120px;
    position: fixed;
    z-index: 1102;
    left: 0;
    right: 0;

    background-color: $highlightBg;
    transition: $transition-standard;
    box-shadow: $border-shadow;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .header-section {
        display: flex;
        align-items: center;
        gap: 0.5*$padding-standard;

        h1 {
            margin-bottom: 3px;
        }
    }

    .header-logo {
        display: block;
    }

}

.menu-item {
    transition: $transition-standard;
    padding: 0 8px 4px;
    border-radius: $radius;
    &:hover {
        text-shadow: $text-shadow;
    }
}