$bgOne: var(--bgOne);
$bgOneTransparent: var(--bgOneTransparent);
$bgOneCourtine: var(--bgOneCourtine);

$bgTwo: var(--bgTwo);

$red: var(--red);
$redActive: var(--redActive);
$redTransparent: var(--redTransparent);

$light: var(--light);

$grey: var(--grey);
$white: var(--white);
$fontColor: var(--fontColor);
$inputBg: var(--inputBg);

$yellow: var(--yellow);

$yellowDark: var(--yellowDark);

$yellowTransparent: var(--yellowTransparent);

$green: var(--green);
$greenLight: var(--greenLight);
$greenDark: var(--greenDark);

$labelColor: var(--labelColor);
$controlBg: var(--controlBg);
$borderColor: var(--borderColor);
$placeholderColor: var(--placeholderColor);