@import 'color-theme';

.dark {
    color: $bgOne;
    fill: $bgOne;
}
.light-dark {
    color: $bgTwo;
    fill: $bgTwo;
}
.red {
    color: $red;
    fill: $red;
}
.light {
    color: $light;
    fill: $light;
}
.grey {
    color: $grey;
    fill: $grey;
}
.white {
    color: $white;
    fill: $white;
}
.green {
    color: $green;
    fill: $white;
}
.font-color {
    color: $fontColor;
}

body {
    background-color: $bgOne;
}
