
$dark: #141919;
$dark-transparent: #141919f0;
$dark-courtine: #141919af;
$light-dark: #333333;
$red: #d44127;
$active-red: #ff5733;
$red-transparent: #d4412737;
$light: #84b6b9;
$grey: #577483;
$white: #fff;
$font-color: #7c7c7c;
$input-bg: #f0edf2;

$yellow: #f9d85d;
$yellow-dark: #f0c418;
$yellow-transparent: #f9d75d7e;
$green: #5a9a5b;

$label-color: #aaa8ac;
$control-bg: #f0edf2;
$border-color: #d3d3d3;

$placeholder-color: #757575;

.dark {
    color: $dark;
    fill: $dark;
}
.light-dark {
    color: $light-dark;
    fill: $light-dark;
}
.red {
    color: $red;
    fill: $red;
}
.light {
    color: $light;
    fill: $light;
}
.grey {
    color: $grey;
    fill: $grey;
}
.white {
    color: $white;
    fill: $white;
}

body {
    background-color: $dark;
}
