@font-face {
    font-family: 'Baron'; /* Name you choose for the font */
    src: url('../fonts/baron.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$family: 'Montserrat', sans-serif;

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: $family;

    color: $font-color;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.9px;

    word-break: break-word;
    overflow-wrap: break-word;
}

.baron {
    font-family: 'Baron', sans-serif;
    text-transform: lowercase;
}

.fs1 {
    font-size: 37.5px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.15em;
}

.fs2 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.fs3 {
    font-size: 20px;
    letter-spacing: 0.15em;
    font-weight: 500;
}

.fs4 {
    @extend .fs3;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.23em;
}



