@import 'color';
@import 'variables';
@import 'font';


$form-shadow: 0px 0px 20px rgb(0 0 0 / 20%);

$form-radius: $radius-standard;
$input-radius: 12px;
$input-border: 1px solid $border-color;
$form-transition: $transition-standard;
$input-active-shadow: 0px 0px 8px $yellow;
$input-error-shadow: 0px 0px 8px $red;

textarea,
input {
    border: none;
    background-color: initial;
    outline: none;
    margin: 0;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.textarea-wrapper {
    width: 100%;
}


.form-container {
    width: 25vw;

    display: block;
    background-color: $white;
    padding: 2*$padding-standard 3/2*$padding-standard;
    border-radius: $form-radius;
    box-shadow: $form-shadow;

    .input-row {
        display: flex;
        justify-content: space-between;
        gap: $padding-standard;
        & > * {
            width: 100%;
        }
    }
}

.form-input:hover {
    border-color: $yellow;
}

.active {
    .form-input {
        background-color: $yellow-transparent;
        border-color: $yellow;
        box-shadow: $input-active-shadow;
    }

    .form-button {
        cursor: pointer;
        border-color: $yellow-dark;
        background-color: $yellow;
        box-shadow: $input-active-shadow;

        .form-button-control {
            cursor: pointer;
        }
    }
}

.form-input {

    cursor: text;
    border: $input-border;
    border-radius: $input-radius;
    transition: $form-transition;
    background-color: $control-bg;
    padding: 12px 15px;
    
    box-shadow: 0 0 0 transparent;

    &.active {
        background-color: $yellow-transparent;
        border-color: $yellow;
        box-shadow: $input-active-shadow;
    }

    .form-input-label {
        color: $label-color;
        font-size: 12.8px;
        font-weight: 600;
        margin: 0;
    }   
    
    .form-input-control {
        width: 100%;
        padding: 0px;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0;
        color: $light-dark;
        font-family: $family;
    }

    .form-input-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}



// BUTTON
.form-button {

    width: 100%;
    padding: $padding-standard 0;
    
    border-radius: $input-radius;
    border: $input-border;
    
    text-align: center;
    transition: $form-transition;

    background-color: $yellow-transparent;
    cursor: not-allowed;

    &.active {
        cursor: pointer;
        border-color: $yellow-dark;
        background-color: $yellow;
        box-shadow: $input-active-shadow;

        .form-button-control {
            cursor: pointer;
        }

    }

    .form-button-control {
        border: none;
        background: transparent;
    }
}

.ng-invalid.ng-dirty.ng-touched > .form-input {
    border-color: $red;
    box-shadow: $input-error-shadow;
}

.pointer {
    cursor: pointer;
    input {
        cursor: pointer;
    }
}

*::placeholder,
.placeholder {
    @extend .form-input-control;
    color: $placeholder-color!important;
}