@import 'color';
@import 'variables';
@import 'variables-desc';
@import 'font';


$form-shadow: 0px 0px 20px rgb(0 0 0 / 20%);

$form-radius: $radius-standard;
$input-radius: 12px;
$input-border: 1px solid $border-color;
$form-transition: $transition-standard;
$input-active-shadow: 0px 0px 8px $yellow;
$input-error-shadow: 0px 0px 8px $red;

$control-padding-y: 8px;
$control-padding-y-desc: 12px;
$control-padding-x: 15px;
$control-padding: $control-padding-y $control-padding-x;

$selector-item-height: 50px;
$selector-img-height: 50px;

.btn {
    cursor: pointer;
}

.desktop {

    .form-group {
        grid-template-columns: 1fr 1fr;
        column-gap: $padding-standard;
    }

    .form-page {
        padding-top: $header-margin-desc;
        padding-left: $page-padding-big;
        padding-right: $page-padding-big;
    }

    .form-container {
        padding: 2*$padding-standard 3/2*$padding-standard;
        
        &.small {
            width: 25vw;
        }

        .input-row {
            & > * {
                width: calc(50% - 0.5*$padding-standard);
            }
        }

        .form-input {
            padding: $control-padding-y-desc $control-padding-x;
        }
    }
    .control-margin {
        margin-bottom: 2*$padding-standard;
    }
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;

    & > * {
        width: 100%;
    }
}

.form-page {
    width: 100%;

    padding-left: $view-margin-1;
    padding-right: $view-margin-1;
    padding-top: 0.7*$header-margin;
}

textarea,
input {
    border: none;
    background-color: initial;
    outline: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}
.textarea-wrapper {
    width: 100%;
}

.control-margin {
    margin-bottom: $padding-standard;

    &.max-300 {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
}


.form-container {
    position: relative;
    display: block;
    background-color: $white;
    padding: 2*$padding-standard $view-margin-1;
    border-radius: $form-radius;
    box-shadow: $form-shadow;

    .input-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $padding-standard;
        & > * {
            width: 100%;
        }
    }


}


.form-input:hover {
    border-color: $yellow;
}

.active {
    .form-input {
        background-color: $yellow-transparent;
        border-color: $yellow;
        box-shadow: $input-active-shadow;
    }

    .form-button {
        cursor: pointer;
        border-color: $yellow-dark;
        background-color: $yellow;
        box-shadow: $input-active-shadow;

        .form-button-control {
            cursor: pointer;
        }
    }
}

.form-input {

    cursor: text;
    border: $input-border;
    border-radius: $input-radius;
    transition: $form-transition;
    background-color: $control-bg;
    padding: $control-padding;
    
    box-shadow: 0 0 0 transparent;

    &.active {
        background-color: $yellow-transparent;
        border-color: $yellow;
        box-shadow: $input-active-shadow;
    }

    .form-input-label {
        color: $label-color;
        font-size: 12.8px;
        font-weight: 600;
        margin: 0;
    }   
    
    .form-input-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.form-input-control {
    width: 100%;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    color: $light-dark;
    font-family: $family;
}


// BUTTON
.form-button {

    width: 100%;
    padding: $padding-standard 0;
    
    border-radius: $input-radius;
    border: $input-border;
    
    text-align: center;
    transition: $form-transition;

    background-color: $yellow-transparent;
    cursor: not-allowed;

    &.active {
        cursor: pointer;
        border-color: $yellow-dark;
        background-color: $yellow;
        box-shadow: $input-active-shadow;

        .form-button-control {
            cursor: pointer;
        }

    }
}

.btn,
.form-button-control {
    border: none;
}

.ng-invalid.ng-dirty.ng-touched > .form-input {
    border-color: $red;
    box-shadow: $input-error-shadow;
}

.pointer {
    cursor: pointer;
    input {
        cursor: pointer;
    }
}

*::placeholder,
.placeholder {
    @extend .form-input-control;
    color: $placeholder-color!important;
}

.btns {
    display: flex;
    gap: $padding-standard;
    &.center {
        justify-content: center;
    }
}

