@import 'variables';
@import 'tile';

.desktop {
    .panel-container {
        padding-right: $padding-standard;
        padding-left: $padding-standard;
        padding-bottom: 4*$padding-standard;
    }

    .panel-section-header {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item-row {
        padding: 0.8*$padding-standard $padding-standard;
    }

    .booking-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    }

    .booking-item p:last-of-type {
        text-align: unset;
    }
}

.panel-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $padding-standard;
    background-color: $highlightBg;
    
    padding-top: $header-height + $padding-standard;

    padding-bottom: 4*$padding-standard;

    .separate-line {
        margin: 0 $padding-standard;
        border-top: 0.5px solid $bg;
    }
}

.panel-section {
    padding: 0;
}

.panel-section-content,
.panel-section-header {
    padding: $padding-standard;
    display: flex;
    justify-content: space-between;
}

.item-row {
    padding: 0.8*$padding-standard 0.5*$padding-standard;   
    display: grid;
    align-items: center;
    width: 100%;

    p {
        color: $textColor;
        font-weight: 600;
        @extend .fs5;

        &:last-of-type {
            text-align: right;
        }
    }
}


.item-row.labels {
    p {
        font-size: 14px;
        color: $primaryColor;
    }
}

.item-row-collapse-content {
    padding: 0.5*$padding-standard $padding-standard $padding-standard;
    display: block;
}

.item-row-buttons {
    display: flex;
    gap: $padding-standard;
    flex-wrap: wrap;
}

.item-row-files {
    @extend .item-row-buttons;
}
