@import 'variables';
@import 'tile';

.desktop {
    .panel-container {
        padding-right: $padding-standard;
        padding-left: $padding-standard;
        padding-bottom: 4*$padding-standard;
    }

    .panel-section-header {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item-row {
        padding: 0.8*$padding-standard $padding-standard;

        // TODO 
        // &:not(.labels) {
        //     cursor: pointer;
        //     &:hover {
        //         background-color: $light-dark;
        //         box-shadow: 5px 5px 5px 5px $dark;
        //     }
        // }
    }

    .booking-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    }

    .booking-item p:last-of-type {
        text-align: unset;
    }
}

.panel-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $padding-standard;
    background-color: $light-dark;
    
    padding-top: $header-height + $padding-standard;

    padding-bottom: 4*$padding-standard;

    .separate-line {
        margin: 0 $padding-standard;
        border-top: 0.5px solid $light-dark;
    }
}

.panel-section {
    @extend .tile;
    padding: 0;
    border: 1px solid $dark;
}

.panel-section-content,
.panel-section-header {
    padding: $padding-standard;
}

.item-row {
    // padding: 0.8*$padding-standard $padding-standard;
    padding: 0.8*$padding-standard 0.5*$padding-standard;   
    display: grid;
    align-items: center;
    width: 100%;

    p {
        color: $white;
        font-weight: 100;
        font-size: 12px;

        &:last-of-type {
            text-align: right;
        }
    }

    &:not(.labels) {
        border-top: 0.5px solid $light-dark;
    }

    &.clickable {
        cursor: pointer;
        &:hover {
            background-color: $light-dark;
        }
    }
}


.item-row.labels {
    p {
        font-size: 14px;
        color: $red;
    }
}


.item-row-collapse-content {
    padding: 0.5*$padding-standard $padding-standard $padding-standard;

    display: flex;
    gap: $padding-standard;
    flex-wrap: wrap;


}