@import 'variables';

.panel {
    padding-top: $header-height;
    display: flex;
    height: 100%;
}

.panel-section {
    padding: 0;
}

.panel-section-content,
.panel-section-header {
    padding: $padding-standard;
    display: flex;
    justify-content: space-between;
}

.bookings-header {
    padding: $padding-standard;
}

.booking-header {
    display: flex;
    justify-content: space-between;
}

.booking-item {
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: $desktop) {
    .booking-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .booking-item p:last-of-type {
        text-align: unset;
    }
}

.item-row {
    padding: 0.8*$padding-standard 0.8*$padding-standard;   
    display: grid;
    align-items: center;
    width: 100%;

    p {
        &:last-of-type {
            text-align: right;
        }
    }
}

.labels {
    margin-right: $padding-standard;
    .item-row {
        p {
            font-size: 14px;
            color: $primaryColor;
        }
    }
}

.item-row-collapse-content {
    display: block;
}

.item-row-buttons {
    display: flex;
    gap: $padding-standard;
    flex-wrap: wrap;
}

.item-row-files {
    @extend .item-row-buttons;
}


@media only screen and (min-width: $desktop) {
    .item-row-collapse-content { 
        padding: 0 $padding-standard $padding-standard;
    }
}