@import 'variables';
@import 'color';

$circle-size: 28px;
$substep-circle-size: 20px;

.p-stepper-panel {
    display: flex;
    flex-direction: column;
    flex: initial;
    &.p-stepper-panel-active {
        flex: 1 1 auto;
    }
}

.substep-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: $padding-standard;
}


.p-stepper-toggleable-content {
    display: flex;
    flex: 1 1 auto;
    padding: 0 0.5*$padding-standard;

    .p-stepper-separator {
        background-color: $grey;
        flex: 0 0 auto;
        width: 2px;
        height: auto;
        margin-inline-start: 0.5*$circle-size;
    }

    .p-stepper-content {
        width: 100%;
        padding-left: 0.5*$circle-size + 0.5*$padding-standard;
        padding-top: 0.5*$padding-standard;
        padding-bottom: 0.5*$padding-standard;
    }

}
.p-stepper-panel:last-of-type .p-stepper-content {
    padding-left: $circle-size + 0.5*$padding-standard;
    
}

.p-highlight {
    .p-stepper-title {
       color: $secondaryColor;
   }

   .p-stepper-number {
       border-color: $secondaryColor;
       color: $secondaryColor;
   }
}

.p-stepper-title {
    margin-left: 0.5*$padding-standard;
    color: $grey;
    font-weight: 500;
    transition: $transition-standard;
}


.p-stepper-header {
    padding: 0.5*$padding-standard;

    .p-stepper-action {
        border: 0 none;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-right: 4*$padding-standard;
    }
}



.p-stepper-number {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    width: $circle-size;
    height: $circle-size;
    color: $grey;
    border: 2px solid $grey;
    line-height: 2rem;
    font-size: .8rem;
    border-radius: 50%;
    transition: $transition-standard;
}


.substep-haeder {
    width: 100%;
    display: inline-flex;
    align-items: center;
    
    .pi {
        color: $grey;
        margin-right: 0.5*$padding-standard;
    }

    &.blank {
        .pi {
            color: $grey;
        }
    }

    &.available {
        .pi {
            color: $grey;
        }
    }

    &.ready {
        .pi {
            color: $green;
        }
    }

    &.error {
        .pi {
            color: $primaryColor;
        }
    }
}

.substep-icon {
    font-weight: 900;
}

