@import 'variables';
@import 'font';
@import 'chip';

.tile {
    overflow: hidden;
    padding: $padding-standard;
    color: $white;
    background-color: $bgTwo;
    border-radius: $borderRadius;
    box-shadow: $shadow-standard;
}

.tile-header {
    @extend .baron;
    @extend .primary;
    @extend .fs3;
}

.tile-content {
    padding: $padding-standard $padding-standard 0;
    &.tile-textarea {
        padding: 0.5*$padding-standard 0.5*$padding-standard 0; 
        .textarea {
            display: block;
            padding: 0.5*$padding-standard;
            margin-bottom: -0.5*$padding-standard;
            border-radius: $radius;
        }
    }
}

.card {
    @extend .tile;
    padding: 0;
    border-radius: $borderRadius;
}