@import 'color';

$padding-standard: 16px;
$page-padding: 10vw;
$page-padding-big: 14vw;


$header-margin: 150px;

$radius: 3px;
$radius-standard: 10px;

$transition-standard: all 0.16s ease-in-out;

.padding-top {
    padding-top: $padding-standard;
}

.padding-top-2 {
    padding-top: 2*$padding-standard;
}

.padding-top-4 {
    padding-top: 4*$padding-standard;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $padding-standard;
}


.hovergrow {
    cursor: pointer;
    transition: $transition-standard;

    &:hover {
        transform: scale(1.05);
    }
}