@import 'color';

$scroll-width: 10px;

$padding-standard: 16px;
$page-padding: 10vw;
$page-padding-big: 14vw;


$header-margin: 150px;

$radius: 3px;
$radius-standard: 10px;

$transition-standard: all 0.16s ease-in-out;
$text-shadow: 0px 2px 1px $dark;
$card-shadow: 0 0 16px $red;

.padding-top {
    padding-top: $padding-standard;
}
.padding-top-2 {
    padding-top: 2*$padding-standard;
}
.padding-top-4 {
    padding-top: 4*$padding-standard;
}

.margin-top {
    margin-top: $padding-standard;
}
.margin-top-2 {
    margin-top: 2*$padding-standard;
}
.margin-top-4 {
    margin-top: 4*$padding-standard;
}

.margin-bottom {
    margin-bottom: $padding-standard;
}
.margin-bottom-2 {
    margin-bottom: 2*$padding-standard;
}


.hovergrow {
    cursor: pointer;
    transition: $transition-standard;

    &:hover {
        transform: scale(1.05);
    }
    &.max:hover {
        transform: scale(1.2);
    }
}


.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $padding-standard;
}

.tile {
    overflow: hidden;
    padding: 2*$padding-standard;
    color: $white;
    background-color: $dark-transparent;
    border-radius: 15px;
    width: 100%;
    
    &.big {
        padding: 3*$padding-standard;
        border-radius: 30px;
    }
}

.card {
    @extend .tile;
    padding: 0;
    border: 1px solid $red;

}



.chip {
    padding: 4px 11px;
    background-color: $dark;
    border-radius: 10px
}