@import 'color';

$scroll-width: 6px;

$padding-standard: 16px;

$view-margin-1: 16px;
$view-margin-2: 16px;
$view-margin-3: calc($view-margin-1 + $view-margin-2);

$header-margin: 200px;

$sidebar-width: 250px;
$header-height: 80px;

$avatar-size: var(--avatar-size);

.section-margin {
    margin-left: $view-margin-1;
    margin-right: $view-margin-1;
}

$page-padding-big: 14vw;
$radius: 3px;

$shadow-standard: 1px 1px 6px #00000050;
$transition-standard: all 0.16s ease-in-out;
$text-shadow: 0px 2px 1px $highlightBg;
$text-shadow-primary: 0px 2px 1px $primaryColor;
$card-shadow: 0 0 16px $primaryColor;

$border-shadow: 0 3px 5px $primaryColor;