@import 'color';

$view-margin-1-desc: 4*$padding-standard;
$view-margin-2-desc: 7vw;
$view-margin-3-desc: calc($view-margin-1-desc + $view-margin-2-desc);

$header-margin-desc: 170px;

.desktop {
    
    .section-margin {
        margin-left: $view-margin-1-desc;
        margin-right: $view-margin-1-desc;
    }

    .section {
        background-color: $light;
        padding: $view-margin-1-desc $view-margin-2-desc;

        .section-container {
            background-color: $dark;
            padding: $view-margin-1-desc;
            border-radius: 30px;
        }
    }

    .tile {
        padding: 2*$padding-standard;
        border-radius: 15px;
    }
    

}
