
<div class="margin-top-2 margin-bottom">
    <p class="template-subsection-header primary">Progress: </p>
</div>

<div class="card form-border">

    <p-stepper orientation="vertical" [(activeStep)]="activeStep" *ngIf="booking">
    
        <!-- #1 STEP - FORM -->
        <p-stepperPanel header="Submit form" >
            <ng-template pTemplate="content" let-index="index">
    
                <div class="item-row-buttons margin-bottom">
    
                    @if (_uid) {
                        @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid].includes(_uid)) {
                            <p-button 
                                label="Accept"
                                (click)="_acceptBooking(booking)" 
                                [raised]="true"
                                severity="success"
                            ></p-button>
                        }
                        @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid, booking.promoterUid].includes(_uid)) {
                            <p-button 
                                label="Cancel"
                                (click)="_cancelBooking(booking)" 
                                [raised]="true"
                                severity="warning"
                            ></p-button>
                        }
                    }
                </div>
    
                <app-substep [mode]="'ready'" header="Form submitted by promoter"></app-substep>
    
                @if (booking.status === 'SUBMITTED') {
                    <app-substep [mode]="booking.managerUid === _uid ? 'available' : 'blank'" header="Form is waiting for verification by manager"></app-substep>
                } @else {
                    <app-substep mode="ready" header="Form verified by manager"></app-substep>
                }
    
            </ng-template>
        </p-stepperPanel>
    
        <!-- #2 STEP - DOCUMENTS/PAPERS CHECKLIST -->
        <p-stepperPanel header="Documents">
            <ng-template pTemplate="content" let-index="index">
    
                <div class="paper-tiles">
                    @for (tile of _checklistTiles; track tile.name) {
                        <app-paper-tile
                            [tile]="tile"
                            [booking]="booking"
                            [uid]="_uid"
                        ></app-paper-tile>
                    }
                </div>
    
            </ng-template>
        </p-stepperPanel>
    
    
        <p-stepperPanel header="Header III">
            <ng-template pTemplate="content" let-index="index">
                <div class="flex flex-column h-12rem">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                        to be continued...
                    </div>
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>


<div class="margin-top-2 margin-bottom">
    <p class="template-subsection-header primary margin-bottom">Artist: </p>

    <div *ngFor="let artist of _artists" 
        class="item-row tile-style padding clickable" 
        (click)="_navToArtist(artist)">
        <div>
            <span>{{artist.name}}</span>
            <span *ngIf="artist.hasPermission"> - click to open in panel</span>
            <span *ngIf="!artist.hasPermission"> - click to open artist view</span>
        </div>

    </div>

</div>
