@import 'variables';

:host {
    flex: 1;
}

.spinner-wrapper  {
    display: flex;
    margin-top: 30vh;
    justify-content: center;
}

.profile-view-content {
    padding: $padding-standard;
    background-color: $highlightBg;
    padding-bottom: 2*$padding-standard;
    width: 100%;
}