<app-header label="Panel"></app-header>

<app-sidebar class="sidebar" (view)="_setView($event)"></app-sidebar>

<div class="profile-view-content">

    @switch (_profileView) {
        
        @case ('BOOKINGS') {
            <app-panel-bookings></app-panel-bookings>
        }

        @case ('ARTIST_INITIAL_INFO') {
            <app-initial-info></app-initial-info>
        }

        @case ('MANAGER_ARTISTS') {
            <app-panel-artists></app-panel-artists>
        }

        @case ('PROMOTER_EVENTS') {
            <app-panel-events></app-panel-events>
        }

        @case ('MANAGER_DATA') {
            <app-manager-form></app-manager-form>
        }
    }

</div>