@import 'variables';
@import 'color';

.spinner-wrapper  {
    display: flex;
    margin-top: 30vh;
    justify-content: center;
}

.desktop {
    .profile-view-content {
        margin-left: $sidebar-width;
    }
}

.profile-view-content {
    background-color: $bgTwo;
    min-height: 100vh;
    padding-bottom: 2*$padding-standard;
}