<ul class="menu-items">
    <li *ngFor="let item of items">
        @if (item.command || item.path) {
            <a (click)="_command(item)" class="menu-item" [ngClass]="item.styleClass">
                <span>{{item.label}}</span>
            </a>
        } @else {
            <div class="menu-item column">
                <span class="menu-item title">{{item.label}}</span>
                <app-menu-items [items]="item.items || []" (select)="select.emit()"></app-menu-items>
            </div>
        }

    </li>
</ul>