<div class="name">
    
    <!-- row1 -->
    <div></div>
    
    <!-- row2 -->
    <div class="name-and-country">

        <div class="artist-name">
            @if (_editMode$ | async) {
                <div class="edit-button edit-name" (click)="editName()">
                    @if (_editName) {
                        <span class="dark">stop edit name</span>
                    } @else {
                        <span class="dark">edit name</span>
                    }
                </div>
            }
            <input class="fs1 secondary"
                #nameInput
                [class.edit-mode]="_editName"
                [value]="(_name$ | async)" 
                (input)="_nameChange($event)"
                [disabled]="!_editName"
            >
        </div>

        <div class="artist-country">
            <app-country *ngIf="(_country$ | async) as country; else countryMock"
                [countryCode]="country.code"
            ></app-country>
            <ng-template #countryMock>
                @if (_editable$ | async) {
                    <p class="white fs3">Select country...</p>
                }
            </ng-template>
    
            @if (_editMode) {
                <app-dropdown 
                    class="floating edit-button edit-country" 
                    [items]="(_countryItems$ | async)!"
                    (select)="_selectCountry($event!)"
                ></app-dropdown>
            }
        </div>
    
    </div>

    <!-- row3 -->

    <app-style *ngIf="$desktop"></app-style>
    <div class="hide-desktop"></div>
    
</div>