<app-header label="Panel"></app-header>

<div class="panel" *ngIf="(_breadcrumb$ | async) as breadcrumb">
    <app-sidebar class="sidebar show-desktop"></app-sidebar>

    <div class="profile-view-content">

        <div class="panel-breadcrumb" *ngIf="breadcrumb.length">
            <p-breadcrumb class="max-w-full" [model]="breadcrumb"></p-breadcrumb>
        </div>

        <ng-container *ngIf="_panelView$ | async as panelView">
            <ng-container [ngSwitch]="panelView.view">

                <app-panel-bookings *ngSwitchCase="'BOOKINGS'" [booking]="panelView.booking"></app-panel-bookings>

                <app-initial-info *ngSwitchCase="'ARTIST_INITIAL_INFO'"></app-initial-info>

                <app-panel-artists *ngSwitchCase="'MANAGER_ARTISTS'" [artist]="panelView.artist"></app-panel-artists>

                <app-panel-events *ngSwitchCase="'PROMOTER_EVENTS'"></app-panel-events>

                <app-manager-form *ngSwitchCase="'MANAGER_DATA'"></app-manager-form>
                
            </ng-container>
        </ng-container>
    
    </div>
</div>