@import 'variables';

.desktop {
    .sign-pad-container {
        padding-top: $padding-standard;
    }
}

.sign-section {
    .menu {
        color: $primaryColor;
    }
}

.sign-pad-container {

    padding-top: 0;
    padding-bottom: 2*$padding-standard;
    padding-left: $padding-standard;
    padding-right: $padding-standard;
    display: flex;
    justify-content: center;
    
    .canvas {
        transition: $transition-standard;
    }

    .pad-controls {
        display: flex;
        justify-content: center;
        gap: $padding-standard;
    }
}

.signatures-container {
    .item-row {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        padding-left: $padding-standard;
    
        .menu {
            justify-self: flex-end;
            padding-right: 0.5*$padding-standard;
        }
    }
    
}