
<ng-container [formGroup]="form">
    <h1 class="dark margin-bottom-2 baron">Event details</h1>
    
    <div class="control-margin">
        <app-dates 
            formControlName="datePeriod"
            label="Event date period"
            placeholder="Select date period..."
            [required]="true"
        ></app-dates>
    </div>
   
    <div class="control-margin">
        <app-input
            formControlName="name"
            label="Event name"
            placeholder="Provide event name..."
            [required]="true"
        ></app-input>
    </div>

    <div class="control-margin">
        <app-selector
            class="skip-aspect-ratio"
            formControlName="country"
            [required]="true"
            [items]="_countryItems"
            label="Event country"
            placeholder="Select event country..."
            [chachedImg]="true"
        ></app-selector>
    </div>

    <div class="control-margin">
        <app-input
            formControlName="locationInfo"
            label="Location"
            placeholder="Some extra info..."
        ></app-input>
    </div>
    
    <div class="control-margin">
        <app-input
            formControlName="eventUrl"
            label="Event URL"
            placeholder="Provide event url..."
        ></app-input>
    </div>
        
    <div class="control-margin">
        <app-textarea
            formControlName="timetable"
            label="Lineup / Timetable"
            placeholder="Provide lineup or timetable..."
        ></app-textarea>
    </div>
        
</ng-container>