<div class="panel-section">
        
    <div class="panel-section-header">
        <h2 class="fs3 light">{{header}}</h2>
    </div>

    <div class="booking-itmes-container">

        <div class="item-row booking-item labels">
            <p>Status</p>
            <p>Submit date</p>
            <p>Event date</p>
            <p>Event name</p>
            @if (DESKTOP) {
                <p>Artists</p>
            }
        </div>
        @for (booking of bookings; track booking.formId; let last = $last) {

            <div class="item-row booking-item clickable" (click)="openBooking.emit(booking)">
                <p>{{booking.status | status}}</p>
                <p>{{booking.submitDate | date : 'dd-MM-yyyy'}}</p>
                <p>{{booking.eventStartDate | date : 'dd-MM-yyyy'}}</p>
                <p>{{booking.eventName}}</p>

                @if (DESKTOP) {
                    <p>{{booking.artistNames.join(', ')}}</p>
                }
            </div>

        }
    </div>
</div>