<div class="panel-section">
        
    <div class="panel-section-header">
        <h2 class="fs3 light">{{header}}</h2>
    </div>

    <div class="booking-itmes-container">

        <div class="item-row booking-item labels">
            <p>Status</p>
            <p>Submit date</p>
            <p>Event date</p>
            <p>Event name</p>
            @if (DESKTOP) {
                <p>Artists</p>
            }
        </div>

        <ng-container *ngIf="_profileUid$ | async as uid">


            <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">

                @for (booking of bookings; track booking.formId; let last = $last) {
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            <div class="item-row booking-item clickable">
                                <p>{{booking.status | status}}</p>
                                <p>{{booking.submitDate | date : 'dd-MM-yyyy'}}</p>
                                <p>{{booking.eventStartDate | date : 'dd-MM-yyyy'}}</p>
                                <p>{{booking.eventName}}</p>
    
                                @if (DESKTOP) {
                                    <p>{{booking.artistNames.join(', ')}}</p>
                                }
                            </div>
                        </ng-template>
    
                        <div class="item-row-collapse-content item-row-buttons">

                            <app-btn (click)="openBooking.emit(booking)" label="Form data" class="grey"></app-btn>

                            @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid].includes(uid)) {
                                <app-btn (click)="_acceptBooking(booking)" label="Accept" class="green"></app-btn>
                            }

                            @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid, booking.promotorUid].includes(uid)) {
                                <app-btn (click)="_cancelBooking(booking)" label="Cancel"></app-btn>
                            }
                        </div>
                    </p-accordionTab>
                }

            </p-accordion>
            

        </ng-container>


    </div>
</div>