
<ng-container *ngIf="timeline.length > 1">
    <div class="tile big" *ngIf="timeline.length">

        <div class="subheader">
            <div class="tile-header">Events timeline</div>
        </div>
            
    <div class="tile-content">

        <p-accordion value="0" class="my-accordion right" *ngIf="past.length" (activeIndexChange)="_shoPastEventsToggle($event)">
            <p-accordionTab [header]="_showPastEvents">
                <ng-template pTemplate="content">
                    <app-timeline-items [timeline]="past"></app-timeline-items>
                </ng-template>
            </p-accordionTab>
        </p-accordion>

        <app-timeline-items [timeline]="timeline"></app-timeline-items>
    </div>

    </div>
</ng-container>
