<p-timeline [value]="timeline" [align]="'alternate'">

    <ng-template pTemplate="marker" let-event>
        <div class="marker">
            <i [class]="'pi pi-bookmark-fill'"></i>
        </div>
    </ng-template>

    <ng-template pTemplate="opposite" let-event>
        <div class="opposite" *ngIf="event.formData?.eventInformation?.performanceStartDate">
            <span *ngIf="!event.formData?.eventInformation?.performanceEndDate">{{event.formData?.eventInformation?.performanceStartDate | date }}</span>
            <span *ngIf="event.formData?.eventInformation?.performanceEndDate">{{event.formData?.eventInformation?.performanceStartDate | date : 'MMM dd' }}</span>
            <span *ngIf="event.formData?.eventInformation?.performanceEndDate"> - {{event.formData?.eventInformation?.performanceEndDate | date }}</span>
        </div>
    </ng-template>

    <ng-template pTemplate="content" let-event>
        <div class="content">
            <p-card [header]="event?.formData?.eventInformation?.eventName" [subheader]="event?.formData?.eventInformation?.eventCountry?.name">
                <p *ngIf="event?.formData?.eventInformation?.venueName">{{event?.formData?.eventInformation?.venueName}}</p>
                <div></div>
                <p *ngIf="event?.formData?.eventInformation?.website">{{event?.formData?.eventInformation?.website}}</p>
            </p-card>
        </div>
    </ng-template>
    
</p-timeline>