.desktop {
    .bio {
        .edit-button {
            top: 30px;
            right: 80px;
            left: unset;
        }
    }
}

.bio {
    position: relative;

    .edit-button {
        top: 18px;
        right: 25px;
    }
}