
<div class="bio">

    <div class="edit-button" *ngIf="_editMode$ | async as editMode" (click)="_edit()" >
        @if (_editBioMode) {
            <span class="dark">stop edit</span>
        } @else {
            <span class="dark">edit about me</span>
        }
    </div>
    
    
    <div class="tile big">
        <p class="fs2 baron red">About me</p>

        <div class="tile-content">
            <app-textarea-element
                class="white"
                [class.edit-mode]="_editBioMode"
                [value]="(_bio$ | async) || ''"
                [disabled]="!_editBioMode"
                (onInput)="_onInput($event)"
            ></app-textarea-element>
        </div>
    </div>
</div>

