<app-header label="Register"></app-header>

<div class="form-page">

    <div class="form-container">
    
        <form [formGroup]="form" (ngSubmit)="_submit()">

            <div class="control-margin">
                <app-input
                    formControlName="name"
                    [required]="true"
                    label="Name" 
                ></app-input>
            </div>

            <div class="control-margin">
                <app-selector
                    formControlName="role"
                    [required]="true"
                    label="Role"
                    [items]="_roleSelectorItems"
                    placeholder="Select a role..."
                ></app-selector>
            </div>

            <div class="control-margin">
                <app-input
                    formControlName="email"
                    [required]="true"
                    label="Email" 
                ></app-input>
            </div>

            <div class="control-margin">
                <app-input
                    formControlName="password"
                    [required]="true"
                    label="Password" 
                    type="password"
                ></app-input>
            </div>

            <div class="control-margin">
                <app-input
                    formControlName="repassword"
                    [required]="true"
                    label="Confirm password" 
                    type="password"
                ></app-input>
            </div>

        </form>

        <div class="btns center">
            <app-btn label="by telegram" class="big grey" (click)="_byTelegram()"></app-btn>
            <app-btn label="submit" class="big" (click)="_submit()"></app-btn>
        </div>

    </div>
</div>