<div class="header-container">

        <div class="header-section">
            <app-logo (click)="_home()" class="header-logo" size="60" dropColor="red" [showDrop]="true"></app-logo>

            <h1 *ngIf="label" class="fs2 baron light">{{label}}</h1>
        </div>

        <div class="header-section">

            @if (DESKTOP) {
                <div *ngFor="let btn of (menuButtons$ | async)" (click)="btn.onclick()"
                class="header-button">
                    <h2 class="fs3 baron red hovergrow menu-item">
                        {{btn.label}}
                    </h2>
                </div>
                
            } @else {
                <app-mobile-btn></app-mobile-btn>
    
            }

        </div>

</div>