@import 'variables';
@import 'color';
@import 'form';
@import 'font';

:host {
    &.show {
        top: 0;
    }
    top: -120px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;

    background-color: $dark;
    transition: $transition-standard;
}

.header-container {
    padding: 0.2*$padding-standard $section-margin;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 3px 5px $red;

    .header-section {
        display: flex;
        align-items: center;
        gap: 2*$padding-standard;

        h1 {
            margin-bottom: 0.5*$padding-standard;
        }
    }

    .header-logo {
        display: block;
        @extend .hovergrow;
    }

}

.menu-item {
    transition: $transition-standard;
    padding: 0 8px 4px;
    border-radius: $radius;
    &:hover {
        text-shadow: $text-shadow-red;
        background-color: $red-transparent;
    }
}