
@if (_formControlName) {
    
    <div class="control-margin">
    
        @if (!control.type || control.type === 'text') {
            <app-form-field [label]="control.name">
                <input type="text" pInputText 
                    [formControlName]="_formControlName"
                    [placeholder]="control.placeholder || ''"
                    [required]="_required"
                    />
            </app-form-field>
        } 
    
        @else if (control.type === 'textarea') {
            <!-- TODO refactor -->
            <app-textarea
                [formControlName]="_formControlName"
                [label]="control.name"
                [placeholder]="control.placeholder || ''"
                [required]="_required"
            ></app-textarea>
        
        } 
    
        @else if (control.type === 'date') {

            <app-form-field [label]="control.name">
                <p-calendar 
                    [formControlName]="_formControlName" 
                    placeholder="Select..."
                    dateFormat="dd-mm-yy"
                    [placeholder]="control.placeholder || 'Select date...'"
                    [required]="_required"
                ></p-calendar>
            </app-form-field>
            
        } @else if (control.type === 'selector') {
            <app-form-field [label]="control.name">
                <app-dropdown 
                    [items]="(control.selectorItems$ | async) || []" 
                    [formControlName]="_formControlName"
                    [placeholder]="control.placeholder || 'Select...'"
                    [required]="_required"
                ></app-dropdown>
            </app-form-field>
        
        } @else {
            <div>{{control.name}}</div>
            <div> unknown control type</div>
        }
    </div>
}