
@if (_formControlName) {
    
    <div class="control-margin">
    
        @if (!control.type || control.type === 'text') {
            <app-input
                [formControlName]="_formControlName"
                [label]="control.name"
                [placeholder]="control.placeholder || ''"
                [required]="_required"
            ></app-input>
        } 
    
        @else if (control.type === 'textarea') {
            <app-textarea
                [formControlName]="_formControlName"
                [label]="control.name"
                [placeholder]="control.placeholder || ''"
                [required]="_required"
            ></app-textarea>
        
        } 
    
        @else if (control.type === 'date') {
    
            <app-dates
                [formControlName]="_formControlName"
                [label]="control.name"
                [placeholder]="control.placeholder || 'Select date...'"
                [required]="_required"
            ></app-dates>
            
        } @else if (control.type === 'selector') {
    
            <app-selector
                class="skip-aspect-ratio"
                [formControlName]="_formControlName"
                [label]="control.name"
                [placeholder]="control.placeholder || 'Select...'"
                [required]="_required"
                [items]="(control.selectorItems$ | async)!"
            ></app-selector>
        
        } @else {
            <div>{{control.name}}</div>
            <div> unknown control type</div>
        }
    </div>
}