<div class="section artists-section">

    <div class="section-container">

        <div class="section-top">
            <div>
                <h2 class="fs1 baron red uppercase margin-bottom">Our Artists</h2>
                <h2 class="fs3 baron light margin-bottom-4">Check them all!</h2>
            </div>

            <app-btn class="big" label="View all" (click)="navToArtists()"></app-btn>

        </div>


        <ng-container *ngIf="artists$ | async as artists">
            <p-carousel class="p-carousel"
                [value]="artists" 
                [numVisible]="this.DESKTOP ? 4 : 2" 
                [circular]="true" 
            >
                <!-- [responsiveOptions]="responsiveOptions" -->
                <ng-template let-artist pTemplate="item">
                    <div class="card-shadow-wrapper">
                        <app-artist-card [artist]="artist"></app-artist-card>
                    </div>
                </ng-template>
    
            </p-carousel>
        </ng-container>
    
    </div>
</div>
