<div class="popup-container event-form-data">

    <div class="popup-header margin-top">
        <p class="fs3 white short bold">Select previous event data</p>
    </div>

    <div class="pupup-content">

        <div class="item-row event-form-data-item labels">
            <p>Event name</p>
            <p>Status</p>
            <p>Start date</p>
            <p>End date</p>
        </div>

        @for(event of data; track event.signature) {
            <div class="item-row clickable" (click)="_select(event)">
                <div>{{event.name}}</div>
                <div>{{event.status | status}}</div>
                <div>{{event.startDate | date : 'dd-MM-yyyy'}}</div>
                <div>{{event.endDate | date : 'dd-MM-yyyy'}}</div>
            </div>
        }
    </div>


    <div class="popup-buttons">
        <p-button
            label="Skip"
            (click)="_close()"
            severity="info"
            [raised]="true">
        </p-button>
    </div>

</div>