.desktop {
    .edit-background {
        .edit-button {
            left: unset;
            right: 61%;
        }
    }
}

.edit-background {

    .edit-button {
        top: 13%;
        right: 33%;
        font-size: 12px;
    }

    .img-wrapper img {
        width: 100%;
        height: 100%;
    }
}