@import 'variables';
.pdf-data-form-section-item {
    margin-bottom: $padding-standard;

    &.list {
        margin-bottom: 2*$padding-standard;

        display: flex;
        .list-items {
            flex-grow: 1;
        }
    }

    &.subsection {
        margin-bottom: 0;
        .section-switch {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 .5*$padding-standard;
            p {
                flex-grow: 1;
            }
        }

    }
}