
<div #formSelector class="form-input">

    <div class="form-input-wrapper">
        <div>
            <p class="form-input-label">{{_label}}</p>
            <input
                #selectorControl 
                class="form-input-control"
                [placeholder]="placeholder"
                [value]="value.label || ''"
                [attr.disabled]="disabled ? true : null"
                (input)="onInput($event)"
                type="text"
                />
        </div>

        @if (value.imgUrl) {
            <app-icon-button
                [button]="false"
                [src]="value.imgUrl"
                [size]="40"
                [border]="true"
            ></app-icon-button>
        } 
        @else if (value.svg) {
            <app-icon-button
                [button]="false"
                [mediaIcon]="value.svg"
                [size]="30"
            ></app-icon-button>
        }

    </div>


    <div class="selector-items">
        <div *ngFor="let item of _items"
            class="selector-item form-input-control"
            (click)="_select(item, $event)"

        ><span class="dark">{{item.label}}</span>


        @if (item.imgUrl) {
            <app-icon-button
                [button]="false"
                [src]="item.imgUrl"
                [size]="20"
                [border]="true"
            ></app-icon-button>
        } 
        @else if (item.svg) {
            <app-icon-button
                [button]="false"
                [mediaIcon]="item.svg"
                [size]="20"
            ></app-icon-button>
        }
    
    </div>
</div>