<div class="popup-container">

    @if (data.header) {
        <div class="popup-header">
            <p class="fs3 dark short bold">{{data.header}}</p>
        </div>
    }

    @for (c of (data.content || []); track c) {
        <div class="pupup-content">
            <p class="dark">{{c}}</p>
        </div>
    }

    @if (data.chips?.length) {
        <div class="chips margin-bottom">
            @for (chip of data.chips; track chip.id) {
                <div 
                (click)="_onChip(chip)"
                [ngClass]="chip.class"
                class="chip big hovergrow" 
            >{{chip.name}}</div>
            }
        </div>
    }

    @if (form) {
        <form [formGroup]="form" (ngSubmit)="_submit()">
            <div class="control-margin" [ngClass]="data.inputClass">
                @if (data.input) {
                    <app-input
                        formControlName="control"
                        [required]="true"
                        [label]="data.input || 'input'" 
                    ></app-input>
                } 
                @if (data.select) {
                    <app-selector
                        formControlName="control"
                        [required]="true"
                        [label]="data.select || 'select'"
                        [items]="(data.items | async) || []"
                        [allowWriteItem]="true"
                    ></app-selector>
                }
            </div>

            <div class="popup-buttons">
                @if (_defaultButton) {
                    <app-btn class="big center" label="OK" (click)="_close(true)" type="submit"></app-btn>
                }
        
                @for(btn of data.buttons; track btn.label) {
                    <app-btn [ngClass]="btn.class" [label]="btn.label" (click)="_onBtnClick(btn)" [type]="btn.type || 'button'"></app-btn>
                }
            </div>

        </form>
    }

    @else {

        <div class="popup-buttons">
            @if (_defaultButton) {
                <app-btn class="big center" label="OK" (click)="_close(true)"></app-btn>
            }
    
            @for(btn of data.buttons; track btn.label) {
                <app-btn [ngClass]="btn.class" [label]="btn.label" (click)="_onBtnClick(btn)"></app-btn>
            }
        </div>
    }



</div>