
<p-stepper orientation="vertical" [(activeStep)]="activeStep" *ngIf="_booking$ | async as booking">

    <!-- #1 STEP - FORM -->
    <p-stepperPanel header="Submit form" >
        <ng-template pTemplate="content" let-index="index">

            <div class="item-row-buttons margin-bottom">
                <app-btn (click)="_showFormData(booking)" label="Show form data" class="grey"></app-btn>

                @if (_uid) {
                    @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid].includes(_uid)) {
                        <app-btn (click)="_acceptBooking(booking)" label="Accept" class="green"></app-btn>
                    }
                    @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid, booking.promoterUid].includes(_uid)) {
                        <app-btn (click)="_cancelBooking(booking)" label="Cancel"></app-btn>
                    }
                }
            </div>

            <app-substep [mode]="'ready'" header="Form submitted by promoter"></app-substep>

            @if (booking.status === 'SUBMITTED') {
                <app-substep [mode]="booking.managerUid === _uid ? 'available' : 'blank'" header="Form is waiting for verification by manager"></app-substep>
            } @else {
                <app-substep mode="ready" header="Form verified by manager"></app-substep>
            }

        </ng-template>
    </p-stepperPanel>

    <!-- #2 STEP - DOCUMENTS/PAPERS CHECKLIST -->
    <p-stepperPanel header="Documents">
        <ng-template pTemplate="content" let-index="index">

            <div class="paper-tiles">
                @for (tile of _checklistTiles; track tile.name) {
                    <app-paper-tile
                        [tile]="tile"
                        [booking]="booking"
                    ></app-paper-tile>
                }
            </div>

        </ng-template>
    </p-stepperPanel>


    <p-stepperPanel header="Header III">
        <ng-template pTemplate="content" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    Content III
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>