@import 'variables';

.paper-tiles {
    display: grid;
    grid-template-columns: 1fr;
}

.p-accordion .p-toggleable-content {
    overflow: unset;
}

.p-stepper-panel.p-stepper-panel-active {
    .p-stepper-toggleable-content {
        overflow: unset;
    }
}

.card {
    padding: .5*$padding-standard
}