@import 'variables';

$card-width: 24vw;

.artist-card {
    font-size: 14px;
    transition: $transition-standard;
    cursor: pointer;
    background-color: $white;
    overflow: hidden;
    &:hover {
        transform: scale(1.03);

        .img-wrapper {
            img {
                filter: grayscale(0);
            }
        }
    }

    .img-wrapper {
        width: 100%;
        img {
            filter: grayscale(100%);
            transition: $transition-standard;
            width: 100%;
            height: 100%;
        }
    }

    .media-item-container .icon-button svg {
        width: 2rem;
        fill: $primaryColor;
        height: 2rem;
    }

    .description {
        padding: 0.5*$padding-standard $padding-standard $padding-standard;

        .description-row {
            display: flex;
            justify-content: space-between;

            &.one {
                margin-bottom: 0.5*$padding-standard;
            }
        }

        .media-items {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .icon-button .svg-wrapper {
                min-height: 20px;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
    }
}