@import 'variables';
@import 'color';
@import 'tile';


$card-width: 24vw;

.desktop {
    .artist-card {
        &:hover {
            box-shadow: $card-shadow;
            .img-wrapper { 
                img {
                    filter: saturate(1)
                }
            }
            
        }
        .img-wrapper {
            height: 0.73*$card-width;
        }
    }
    
    .artist-card .img-wrapper img {
        filter: saturate(0);
    }

}

.artist-card {
    font-size: 14px;
    transition: $transition-standard;
    cursor: pointer;
    @extend .card;
    .img-wrapper {
        width: 100%;
        height: 1.4*$card-width;
        height: 250px;
        img {
            transition: $transition-standard;
            width: 100%;
            height: 100%;
        }
    }

    .media-item-container .icon-button svg {
        width: 2rem;
        fill: $primaryColor;
        height: 2rem;
    }

    .description {
        background-color: $white;
        padding: 0.5*$padding-standard $padding-standard $padding-standard;

        .description-row {
            display: flex;
            justify-content: space-between;

            &.one {
                margin-bottom: 0.5*$padding-standard;
            }
        }

        .media-items {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: $padding-standard;

            .icon-button .svg-wrapper {
                min-height: 25px;
            }
        }
    }
}