@import 'variables';
@import 'variables-desc';
@import 'form';

.desktop {

    $control-width: calc(50% - 0.5*$padding-standard);
    .artist-medias {
        .media-group {

            display: flex;
            gap: $padding-standard;
            margin-bottom: 0.5*$padding-standard;

            .media-row,
            .url {
                display: block;
                width: $control-width;
            }

            .media-row {
                display: flex;
                .baron, .type {
                    display: block;
                    width: 50%;
                }
                
                .baron {
                    text-align: end;
                }
            }
        }
    }

    .images-grid {
        app-file-loader {
            width: $control-width;
        }

    }
}


.artist-medias {
    .media-group {


        .media-row {
            display: flex;
            gap: 0.5*$padding-standard;
            justify-content: flex-end;
            align-items: center;
            .baron {
                text-wrap: nowrap;
            }
            .type {
                margin-bottom: 0.5*$padding-standard;
            }
        }
    }

}

.avatar-img-row {
    display: flex;
    gap: $padding-standard;
    & > * {
        width: 50%;
    }

    .avatar-img-wrapper {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}

.images-grid {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-standard;

    app-file-loader {
        width: 100%;
    }
}