@if (_uid) {

<form [formGroup]="form" class="fade-in booking-form-step" (ngSubmit)="_submit()">

    @if ([booking.managerUid].includes(_uid)) {
        <app-form-field label="Artist fee">
            <input type="text" pInputText formControlName="artistFee"/>
        </app-form-field>
    }
    
    <div class="item-row-buttons margin-bottom">
            @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid].includes(_uid)) {
                <p-button 
                    label="Accept"
                    [disabled]="form.invalid"
                    (click)="_acceptBooking(booking)" 
                    [raised]="true"
                    severity="success"
                ></p-button>
            }
            @if (['SUBMITTED'].includes(booking.status) && [booking.managerUid, booking.promoterUid].includes(_uid)) {
                <p-button 
                    label="Cancel"
                    (click)="_cancelBooking(booking)" 
                    [raised]="true"
                    severity="warning"
                ></p-button>
            }
        </div>
    </form>
}