@if (_uid) {

<form [formGroup]="form" class="fade-in booking-form-step margin-bottom" (ngSubmit)="_submit()">

    @if ([booking.managerUid].includes(_uid)) {
        <app-form-field label="Artist fee">
            <input type="text" pInputText formControlName="artistFee"/>
        </app-form-field>
    }
    
    @if (['SUBMITTED'].includes(booking.status)) {
        <div class="item-row-buttons margin-bottom">
            @if ([booking.managerUid].includes(_uid)) {
                <p-button 
                    label="Accept"
                    [disabled]="form.invalid"
                    (click)="_acceptBooking()" 
                    [raised]="true"
                    severity="success"
                ></p-button>
            }
            @if ([booking.managerUid, booking.promoterUid].includes(_uid)) {
                <p-button 
                    label="Cancel"
                    (click)="_cancelBooking()" 
                    [raised]="true"
                    severity="warning"
                ></p-button>
            }
        </div>
    }
    </form>
}

<app-substep [mode]="'ready'" header="Form submitted by promoter"></app-substep>
    
@if (booking.status === 'SUBMITTED') {
    <app-substep [mode]="booking.managerUid === _uid ? 'available' : 'blank'" header="Form is waiting for verification by manager"></app-substep>
} @else {
    <app-substep mode="ready" header="Form verified by manager"></app-substep>
}