<div class="panel-container">

    <div class="panel-section">

        <div class="panel-section-header">
            <h2 class="fs3 secondary">Your artists</h2>
        </div>

        <div class="">
            <div class="item-row panel-artist-item labels">
                <p>Artist name</p>
                <p>Status</p>
            </div>

            <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
                
                @for (artist of _artists$ | async; track artist.signature; let last = $last) {
                    
                    <p-accordionTab>

                        <ng-template pTemplate="header">
                            <div class="item-row clickable">
                                <p>{{artist.name}}</p>
                                <p [pTooltip]="_artistStatusTooltip(artist.status)" tooltipPosition="top">
                                    {{artist.status | status }}
                                </p>
                            </div>
                        </ng-template>

                        <div class="item-row-collapse-content">
                            <div class="item-row-buttons">
                                @if (['READY', 'INACTIVE'].includes(artist.status)) {
                                    <app-btn
                                        class="green"
                                        label="activate"
                                        (click)="_activate(artist)"
                                    ></app-btn>
                                }
                                @if (['ACTIVE'].includes(artist.status)) {
                                    <app-btn
                                        label="deactivate"
                                        (click)="_deactivate(artist)"
                                    ></app-btn>
                                }
                                <app-btn
                                    class="grey"
                                    label="Artist view"
                                    (click)="_artistView(artist)"
                                ></app-btn>
                                <app-btn
                                    [label]="'Management notes'"
                                    (click)="_addNotes(artist)"
                                ></app-btn>
                            </div>
                        </div>

                    </p-accordionTab>

                }
            </p-accordion>
        </div>
    </div>
    
    @if (managementNotesForm) {
        <div class="panel-section management-notes">
        
            <div class="panel-section-header">
                <h2 class="fs3 secondary">Management notes for <span class="bold">{{_selectedArtist?.name}}</span></h2>
            </div>

            <form class="panel-section-content"
                [formGroup]="managementNotesForm" 
                (ngSubmit)="_submitManagementNotes()">

                <app-textarea
                    [class.active]="false"
                    formControlName="managmentNotes"
                    class="margin-bottom-2"
                    [required]="true"
                    label="Management notes"
                ></app-textarea>

                <div class="btns center">
                    <app-btn class="big"
                        label="Cancel"
                        (click)="_cancelManagementNotesEdit()"
                    ></app-btn>
                    <app-btn class="big secondary"
                        (click)="_submitManagementNotes()"
                    ></app-btn>
                </div>
            </form>
            
        </div>
    }



</div>