@import 'variables';

.item-row,
.panel-artist-item {
    grid-template-columns: 1fr 1fr 2fr;
}

.item-row-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5*$padding-standard;
    flex-wrap: wrap;
}

.item-row p:last-of-type {
    text-align: unset;
}

.menu-icon {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.item-row {
    margin-bottom: .25*$padding-standard;
}