<div class="panel-container">
    <ng-container *ngIf="_events$ | async as  events">

        <div class="panel-section">

            <div class="panel-section-header">
                <h2 class="fs3 bold">Events as promoter</h2>
            </div>
        
            <div class="booking-itmes-container">
                <div class="labels">
                    <div class="item-row booking-item">
                        <p>Event name</p>
                        <p>Status</p>
                        <p>Start date</p>
                        <p>End date</p>
                    </div>
                </div>
    

                <p-accordion class="w-full" (activeIndexChange)="_selectEvent($event)">
                    
                    @for (event of events; track event.signature; let last = $last) {
                        <p-accordionTab>

                            <ng-template pTemplate="header">
                                <div class="item-row booking-item">
                                    <p>{{event.name}}</p>
                                    <p>{{event.status | status}}</p>
                                    <p>{{event.startDate | date : 'dd-MM-yyyy'}}</p>
                                    <p>{{event.endDate | date : 'dd-MM-yyyy'}}</p>
                                </div>
                            </ng-template>

                            <div class="item-row-collapse-content">
                                <div class="fs3 primary">
                                    TODO...
                                </div>
                            </div>

                        </p-accordionTab>
                    }
                </p-accordion>

            </div>
        </div>


    </ng-container>
</div>