<div class="app-footer">
    <div class="footer-container section-margin">

        <div class="logo-col">
            <div class="margin-bottom">
                <app-logo></app-logo>
            </div>

            <div class="info margin-top">Prototype of an application created for the purpose of showcasing skills.</div>
            <div class="info margin-top">This instance of the application is filled with fake data for demonstration purposes only.</div>
        
            <div class="link author">
                <small>by  </small>
                <a class="clickable hovergrow" href="https://drawit-pawel-malek.netlify.app/" target="_blank" rel="noopener noreferrer">
                    <img height="25" src="https://drawit-pawel-malek.netlify.app/assets/drawit-logo-name.png" alt="drawit Paweł Małek">
                </a>
            </div>
        
        </div>

        <div></div>

        <div class="footer-menu">

            <div class="menu-header fs3 margin-botton margin-top-2">
                Menu
            </div>
            <div class="link">
                <a class="clickable hovergrow" (click)="_nav('')">Home</a>
            </div>
            <div class="link">
                <a class="clickable hovergrow" (click)="_nav('artists')">Artists</a>
            </div>
            <div class="link">
                <a class="clickable hovergrow" (click)="_bookNow()">Book now</a>
            </div>

            <div *ngIf="profile$ | async as profile; else logIn">
                <div class="link">
                    <a class="clickable hovergrow" (click)="_logout()">Logout</a>
                </div>
            </div>
            <ng-template #logIn>
                <div class="link">
                    <a class="clickable hovergrow" (click)="_nav('login')">Login</a>
                </div>
            </ng-template>

            <div class="link">
                <a class="clickable hovergrow" (click)="_switchTheme()">Switch theme</a>
            </div>

        </div>


    </div>
</div>