<div class="form-container small">

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="control-margin">
            <app-input
                formControlName="artist"
                label="Artist name" 
                placeholder="Search for an artist..."
            ></app-input>
        </div>
        <div class="control-margin">
            <app-input
                formControlName="country"
                label="Desired event location" 
                placeholder="Select a country..."
            ></app-input>
        </div>
        <div class="control-margin">
            <app-input
                formControlName="date"
                label="Date" 
                placeholder="Select date..."
            ></app-input>
        </div>

        <app-button label="Submit" [active]="form.valid"></app-button>

    </form>

</div>