@import 'variables';

.step-control-group {
    padding-bottom: $padding-standard;
}

.step-control {
    padding-left: 2*$padding-standard;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0.5*$padding-standard;
    color: $white;

    
    .key {
        color: $textColor;
    }

    .value > .textarea,
    .value {
        padding-right: $padding-standard;
        color: $primaryColor;
        font-weight: bold;
    }

    .form-input-control {
        color: $white;
        font-weight: 100;
    }
}