<div class="step-control-group">

    <div class="step-control" *ngFor="let control of _controlsWithData | keyvalue">
        
        <span class="key">{{control.key.name}}</span>
    
        @switch (control.key.type) {
    
            @case ('date') {
                <span class="value">{{control?.value | date: 'dd-MM-yyy'}}</span>
            }
    
            @case ('textarea') {
    
                @if (control.value) {
                    <app-textarea-element 
                        class="value"
                        [value]="control.value" 
                        [disabled]="true"
                    ></app-textarea-element>
                }
            }
    
            @case ('selector') {
                <span class="value">{{control?.value.name}}</span>
            }
            
            @default {
                <span class="value">{{control?.value}}</span>
            }
        }
    </div>
</div>
