<div class="section artists-section">

    <div class="section-container">

        <div class="section-top section-header-margin">
            <div>
                <h2 class="fs1 baron primary uppercase margin-bottom">Our Artists</h2>
                <h2 class="fs3 baron text-color">Check them all!</h2>
            </div>

            <p-button 
                (click)="_viewAll()" 
                [raised]="true"
                label="View all"
                class="primary-btn"
            ></p-button>
        </div>


        <ng-container *ngIf="artists$ | async as artists">
            <p-carousel class="p-carousel"
                [value]="artists" 
                [numVisible]="this.DESKTOP ? 3 : 1" 
                [circular]="true" 
            >
                <ng-template let-artist pTemplate="item">
                    <div class="card-shadow-wrapper">
                        <app-artist-card [artist]="artist"></app-artist-card>
                    </div>
                </ng-template>
    
            </p-carousel>
        </ng-container>
    
    </div>
</div>
