@import 'variables';

.artists-section {
    padding-top: 2*$padding-standard;
}

.section-container {
    .p-carousel {
        margin-left: -0.5*$padding-standard;
        margin-right: -0.5*$padding-standard;
    }
    .card-shadow-wrapper {
        padding: 0.5*$padding-standard;
    }
}

@media only screen and (min-width: $desktop) {
    .artists-section {
        padding-top: 6*$padding-standard;
    }
    .grid {
        margin-top: 2*$padding-standard;
        grid-template-columns: 1fr 1fr 1fr;
        margin: $padding-standard 0.5*$padding-standard;
    }
}