@import 'variables';

.section-container {
    .p-carousel {
        margin-left: -0.5*$padding-standard;
        margin-right: -0.5*$padding-standard;
    }
    .card-shadow-wrapper {
        padding: 0.5*$padding-standard;
    }
}