
<app-header label="Booking"></app-header>

<div class="form-page">

    <div class="form-container">

        @if (_stepIndex === 1) {
            <app-booking-step-one [form]="_stepOne"></app-booking-step-one>
        }
        @if (_stepIndex === 2) {
            <h1 class="dark margin-bottom-2 baron">Artist details</h1>
                @for (group of _stepTwo.controls; track $index) {
    
                    <app-booking-step-two [form]="group"></app-booking-step-two>
                }
                <div class="btns margin-top-2">
                    @if (_stepTwo.controls.length !== 1) {
                        <app-btn label="remove" (click)="_removeArtist()"></app-btn>
                    } 
                    <div></div>
                    <app-btn label="add artist" (click)="_addArtist()"></app-btn>
                </div>
        }

        @if (_stepIndex === 3) {
            <app-booking-step-three [form]="_stepThree"></app-booking-step-three>
        }

        <div class="steps margin-top-2">
            <div class="step" [class.active]="_stepIndex===1"></div>
            <div class="step" [class.active]="_stepIndex===2"></div>
            <div class="step" [class.active]="_stepIndex===3"></div>
        </div>

        <div class="btns margin-top-2">
            <app-btn label="back" [hidden]="_stepIndex === 1" (click)="_prev()"></app-btn>
            <div></div>
            @if (_stepIndex === 3) {
                <app-btn label="submit" (click)="_submit()"></app-btn>
            } 
            @else {
                <app-btn label="next" (click)="_next()"></app-btn>
            }
        </div>

    </div>
    
</div>

