<app-header label="Artists"></app-header>

<div class="section-margin header-margin">

    <div class="section-top">
        <div>
            <h2 class="fs1 baron red uppercase margin-bottom">Our Artists</h2>
            <h2 class="fs3 baron light margin-bottom-4">Check them all!</h2>
        </div>
    
        <app-btn class="big light" label="Book now" (click)="_bookNow()"></app-btn>
    
    </div>

    <div class="grid">

        @for (artist of (artists$ | async) || []; track artist.name) {
            <app-artist-card [artist]="artist" class="grid-item"></app-artist-card>
        }

    </div>


</div>