<app-header label="Artists"></app-header>

<div class="section-margin view-margin header-margin">

    <div class="section-top">
        <div>
            <h2 class="fs1 baron primary uppercase margin-bottom">Our Artists</h2>
            <h2 class="fs3 baron text-color">Check them all!</h2>
        </div>
    
        <p-button 
            (click)="_bookNow()" 
            [raised]="true" 
            icon="pi pi-calendar-plus"
            label="Book now"
            iconPos="left"
            class="primary-btn"
        ></p-button>
    
    </div>

    <div class="grid" *ngIf="artists$ | async as artists">

        @for (artist of artists; track artist.name) {
            <app-artist-card [artist]="artist" class="grid-item"></app-artist-card>
        }

    </div>


</div>