<app-header label="Login"></app-header>

<div class="form-page">

    <div class="form-container">

        @if (_nameOrEmailForm) {
            <form [formGroup]="_nameOrEmailForm" (ngSubmit)="_submit()">
                <div class="control-margin">
                    <app-input
                        formControlName="nameOrEmail"
                        [required]="true"
                        label="Name or email" 
                    ></app-input>
                </div>

                <div class="btns">
                    <p-button
                        label="Submit"
                        (click)="_submit()"
                        severity="info"
                        [raised]="true">
                    </p-button>
                </div>
            </form>
        } 
        @else {
            <form [formGroup]="form" (ngSubmit)="_submit()">

                <div class="control-margin">
                    <app-input
                        formControlName="email"
                        [required]="true"
                        label="Email" 
                    ></app-input>
                </div>
    
                <div class="control-margin">
                    <app-input
                        formControlName="password"
                        [required]="true"
                        label="Password" 
                        type="password"
                    ></app-input>
                </div>

                <div class="btns" [ngClass]="{ center: _nameOrEmailForm }">
                    @if (!_nameOrEmailForm) {

                        <p-button
                            label="Via Telegram"
                            (click)="_byTelegram()"
                            severity="info"
                            [raised]="true">
                        </p-button>

                        <p-button
                            label="Register"
                            (click)="_register()"
                            severity="help"
                            [raised]="true">
                        </p-button>
                    }

                    <p-button
                        label="Submit"
                        (click)="_submit()"
                        severity="success"
                        type="submit"
                        [raised]="true">
                    </p-button>
                </div>
    
            </form>
        }

    
    </div>
</div>