<div class="form-page">

    <form [formGroup]="form" class="form-wrapper fade-in" (ngSubmit)="_submit()">

        <div class="form-title">Manager data</div>

        <div class="form-grid">
            <app-form-field label="Agency name">
                <input type="text" pInputText formControlName="agencyName"/>
            </app-form-field>

            <app-form-field label="Company name">
                <input type="text" pInputText formControlName="agencyCompanyName"/>
            </app-form-field>

            <app-form-field label="Name of bank">
                <input type="text" pInputText formControlName="nameOfBank"/>
            </app-form-field>

            <app-form-field label="Account holder">
                <input type="text" pInputText formControlName="accountHolder"/>
            </app-form-field>
            
            <app-form-field label="Country">
                <app-dropdown [items]="(_countryItems$ | async)!" formControlName="agencyCountry"></app-dropdown>
            </app-form-field>

            <app-form-field label="Account holder address">
                <input type="text" pInputText formControlName="accountAddress"/>
            </app-form-field>

            <app-form-field label="Account number">
                <input type="text" pInputText formControlName="accountNumber"/>
            </app-form-field>

            <app-form-field label="SWIFT">
                <input type="text" pInputText formControlName="accountSwift"/>
            </app-form-field>

            <app-form-field label="Manager email">
                <input type="text" pInputText formControlName="agencyEmail"/>
            </app-form-field>

            <app-form-field label="Manager phone number">
                <input type="text" pInputText formControlName="agencyPhone"/>
            </app-form-field>

        </div>

        <div class="form-buttons">
            <p-button
                class="form-button"
                label="Submit"
                severity="success"
                type="submit"
                [raised]="true">
            </p-button>
        </div>

    </form>

</div>