<div class="panel-breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="_breadcrumb"/>
</div>

<div class="panel-container fade-in" *ngIf="_artists$ | async as artists">

    <div class="panel-section" *ngIf="!_selectedArtist">
        <ng-container>
            <div class="labels">
                <div class="item-row panel-artist-item">
                    <p>Artist name</p>
                    <p>Status</p>
                </div>
            </div>

            @for (artist of artists; track artist.signature; let last = $last) {

                <div class="item-row tile-style padding has-menu clickable" (click)="_select(artist)">
                    <div>{{artist.name}}</div>
                    <div [pTooltip]="_artistStatusTooltip(artist.status)" tooltipPosition="top">
                        {{artist.status | status }}
                    </div>
                </div>
            }
        </ng-container>
            
    </div>

    <div class="panel-section fade-in" *ngIf="_selectedArtist">
        <app-panel-artist-section 
            [artist]="_selectedArtist"
            (breadcrumb)="_artistBreadcrubs($event)"
            (refresh)="loadArtists()"
        ></app-panel-artist-section>
    </div>

</div>