@import 'color';
@import 'form';
@import 'font';

.desktop {
    .artist-name {
        @extend .margin-bottom;
    }

    .name {
        .edit-button.edit-name {
            top: -44px;
            right: unset;
            left: 0;
        }
        .edit-button.edit-country {
            top: 120px;
            right: unset;
            left: 40px;
    
        }


    }

}

.name {
    .artist-name {
        margin-bottom: 0.5*$padding-standard;
        width: 100%;
    }

    position: relative;

    .edit-button.edit-name {
        top: -33px;
        right: 8px;
    }

    .edit-button.edit-country {
        top: 73px;
        right: 0px;
    }

    h1.edit-mode {
        background-color: $input-bg;
    }

    .country-txt {
        @extend .fs3;
        color: $white;
    }

    .country-container {
        .icon-button {
            img {
                max-height: 30px;
            }
        }
    }

    .floating .selector-items {
        right: 0;
        left: unset;
    }
}