@import 'color';
@import 'form';
@import 'font';
@import 'chip';

.desktop {
    .name {
        .edit-button.edit-name {
            top: -25px;
            right: unset;
            left: 0;
        }
        .edit-button.edit-country {
            top: 120px;
            right: unset;
            left: 40px;
        }

        .artist-name {
            input {
                font-weight: 600;
            }
        }

        .country-txt {
            font-size: 14px;
        }

        .chip {
            margin-bottom: 0.5*$padding-standard;
        }
    }
}

.name {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    height: 100%;

    .name-and-country {
        align-self: center;
    }

    .artist-name {
        position: relative;
        input {
            text-shadow: 1px 1px 3px #000;
            width: 100%;
        }
    }

    input.edit-mode {
        background-color: $light-dark;
    }

    .edit-button.edit-name {
        top: -33px;
        right: 8px;
    }

    .edit-button.edit-country {
        top: 73px;
        right: 0px;
    }

    h1.edit-mode {
        background-color: $input-bg;
    }

    .country-txt {
        @extend .fs5;
        color: $white;
        text-shadow: $shadow-standard;
    }

    .country-container {
        .icon-button {
            img {
                max-height: 18px;
            }
        }
    }

    .floating .selector-items {
        right: 0;
        left: unset;
    }
}