@import 'variables';
@import 'font';

.name {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    height: 100%;

    .name-and-country {
        align-self: center;
    }

    .artist-name {
        position: relative;
        input {
            text-shadow: 1px 1px 3px #000;
            width: 100%;
            background-color: transparent;
            border: unset;
        }
    }

    .artist-country {
        display: flex;
        position: relative;
    }

    input.edit-mode {
        background-color: $bg;
    }

    .edit-button.edit-name {
        top: -33px;
        right: 8px;
    }

    .edit-button.edit-country {
        top: 30px;
        right: unset;
        left: 0;
    }

    h1.edit-mode {
        background-color: $inputBg;
    }


    .country-container {
        .icon-button {
            img {
                max-height: 18px;
            }
        }
    }
}

@media only screen and (min-width: $desktop) {
    .name {
        .edit-button.edit-name {
            top: -40px;
            right: unset;
            left: 0;
        }
        .edit-button.edit-country {
            position: unset;
            margin-left: $padding-standard;
        }

        .artist-name {
            input {
                font-weight: 600;
            }
        }

        .country-txt {
            font-size: 14px;
        }

        .chip {
            margin-bottom: 0.5*$padding-standard;
        }
    }

}