<div class="name">

    
    <!-- row1 -->
    <div></div>
    
    <!-- row2 -->
    <div class="name-and-country">

        <div class="artist-name">
            @if (_editMode$ | async) {
                <div class="edit-button edit-name" (click)="editName()">
                    @if (_editName) {
                        <span class="dark">stop edit name</span>
                    } @else {
                        <span class="dark">edit name</span>
                    }
                </div>
            }
            <input class="fs1 secondary"
                #nameInput
                [class.edit-mode]="_editName"
                [value]="(_name$ | async)" 
                (input)="_nameChange($event)"
                [disabled]="!_editName"
            >
        </div>

        <div class="d-flex">
            <app-country *ngIf="(_country$ | async) as country; else countryMock"
                [countryCode]="country.code"
            ></app-country>
            <ng-template #countryMock>
                @if (_editable$ | async) {
                    <p class="white fs3">Select country...</p>
                }
            </ng-template>
    
            @if (_editMode) {
                <div class="edit-button inline edit-country" (click)="editCountry()" [class.active]="_editCountry">
                    <span class="dark">select country</span>
        
                    <app-selector-items
                        class="floating"
                        [items]="_countryItems"
                        (select)="_selectCountry($event)"
                    ></app-selector-items>
                </div>
            }
        </div>
    
    </div>

    <!-- row3 -->

    @if (DESKTOP) {
        <app-style></app-style>
    } @else {
        <div></div>
    }

    
</div>