<app-header label="Artist form"></app-header>

<div class="form-page">

    <div class="form-container">
    
        <form [formGroup]="form" (ngSubmit)="_submit()">

            <div class="input-row control-margin">
                <app-input
                    formControlName="name"
                    [required]="true"
                    label="Artist name" 
                    placeholder="Artist stage name..."
                ></app-input>
                <app-selector
                    class="skip-aspect-ratio"
                    formControlName="country"
                    [required]="true"
                    [items]="_countryItems"
                    label="Artist country"
                    placeholder="Select artist country..."
                    [chachedImg]="true"
                ></app-selector>
            </div>

            <div class="input-row control-margin">
                <app-input
                    formControlName="firstName"
                    label="First name" 
                    placeholder="Artist first name..."
                ></app-input>
                <app-input
                    formControlName="lastName"
                    label="Last name" 
                    placeholder="Artist last name..."
                ></app-input>
            </div>

            <div class="input-row control-margin">
                <app-input
                    formControlName="email"
                    [required]="true"
                    label="Email" 
                    placeholder="Artist contact email..."
                ></app-input>
                <app-input
                    formControlName="phone"
                    [required]="true"
                    label="Phone number" 
                    placeholder="Artist contact phone number..."
                ></app-input>
            </div>

            <div class="artist-medias" formArrayName="medias">
                @for (m of f.medias.controls; let index = $index; track index; let last = $last) {
                    <div class="media-group control-margin" [formGroupName]="index">

                        <div class="media-row">
                            <div [hidden]="!last" 
                                class="fs5 baron red hovergrow" (click)="_removeMediaRow(index)">remove</div>
                            <app-selector
                                class="type"
                                formControlName="code"
                                [required]="true"
                                [items]="this._mediaItemsNotSelected"
                                label="Connect type" 
                                placeholder="Select..."
                            ></app-selector>
                        </div>

                        <app-input
                            class="url"
                            formControlName="url"
                            [required]="true"
                            [hidden]="!_controlMediaTypeValid(index)"
                            label="Connect link" 
                            placeholder="url..."
                        ></app-input>

                    </div>
                }
            </div>

            @if (f.medias.length !== _mediaItems.length && f.medias.valid && f.medias.valid) {
                <div class="control-margin center">
                    <span (click)="_addMediaRow()" class="f2 baron red hovergrow">
                        add media connect url
                    </span>
                </div>
            } @else {
                <div class="control-margin"></div>
            }


            <div class="images-grid margin-bottom" >
                <app-file-loader
                    class="circle"
                    formControlName="avatar"
                    [required]="true"
                    label="Image 1 (avatar)"
                    placeholder="Drop file or click for select... (.png, .jpg)"
                    [resultFileName]="_avatarFileName"
                >
                </app-file-loader>

                @for (i of f.images.controls; track $index) {
                    <ng-container formArrayName="images">
                        <app-file-loader
                            [formControlName]="$index"
                            [required]="$index === 0"
                            [label]="'Image ' + ($index+2) +' (background)'"
                            placeholder="Drop file or click for select... (.png, .jpg)"
                            (removeControl)="_removeImage($index)"
                            [resultFileName]="_imageFileName($index)"
                            >
                        </app-file-loader>
                    </ng-container>
                }
            </div>

            <!-- <div class="margin-bottom-2 center">
                <span (click)="_addImage()" class="f2 baron red hovergrow">
                    Add next image
                </span>
            </div> -->

            <app-textarea
                formControlName="bio"
                class="margin-bottom-2"
                [required]="false"
                label="Bio" 
                placeholder="About artist..."
            ></app-textarea>

            <app-btn
                class="margin-top-2 d-flex big center"
                label="Submit" 
                (click)="_submit()"
            ></app-btn>

        </form>
    
    </div>
</div>
