<app-header label="Add artist"></app-header>

<div class="form-page">

    <div class="form-container">
    
        <form [formGroup]="form" (ngSubmit)="_submit()">

            <div class="input-row margin-bottom-2">
                <app-input
                    formControlName="name"
                    [required]="true"
                    label="Artist name" 
                    placeholder="Artist stage name..."
                ></app-input>
                <app-selector
                    formControlName="country"
                    [required]="true"
                    [items]="_countryItems"
                    label="Artist country"
                    placeholder="Select artist country..."
                ></app-selector>
            </div>

            <div class="input-row margin-bottom-2">
                <app-input
                    formControlName="firstName"
                    label="First name" 
                    placeholder="Artist first name..."
                ></app-input>
                <app-input
                    formControlName="lastName"
                    label="Last name" 
                    placeholder="Artist last name..."
                ></app-input>
            </div>

            <div class="input-row margin-bottom-2">
                <app-input
                    formControlName="email"
                    [required]="true"
                    label="Email" 
                    placeholder="Artist contact email..."
                ></app-input>
                <app-input
                    formControlName="phone"
                    [required]="true"
                    label="Phone number" 
                    placeholder="Artist contact phone number..."
                ></app-input>
            </div>

            <div class="artist-medias">

                <div formArrayName="medias" class="artist-media-types">
                    @for (media of _selectedMedias; track media.code; let last = $last, index = $index) {
                        <div [ngClass]="{'margin-bottom-2': !last, 'margin-bottom': last}">
                            <div class="buttons">
                                <div class="fs5 baron red hovergrow" (click)="_removeMediaRow(index)">remove</div>
                            </div>
                            <app-selector
                                class="w50"
                                formControlName="{{index}}"
                                [required]="true"
                                [items]="this._mediaItemsNotSelected"
                                label="Connect type" 
                                placeholder="Select..."
                            ></app-selector>
                        </div>
                    }
                </div> 
                <div formArrayName="mediaUrls">
                    @for (media of _selectedMedias; track media.code; let index = $index, last = $last) {
                        <div class="url" [ngClass]="{'margin-bottom-2': !last, 'margin-bottom': last}">
                            <app-input
                                formControlName="{{index}}"
                                [required]="true"
                                [hidden]="f.medias.at(index).invalid"
                                label="Connect link" 
                                placeholder="url..."
                            ></app-input>
                        </div>
                    }
                </div>

            </div>
            
            @if (f.medias.length !== _mediaItems.length && f.medias.valid && f.mediaUrls.valid) {
                <div class="margin-bottom-2 center">
                    <span (click)="_addMediaRow()" class="f2 baron red hovergrow">
                        add media connect url
                    </span>
                </div>
            } @else {
                <div class="margin-bottom-2"></div>
            }

            <div class="images-grid margin-bottom" >
                <app-file-loader
                    formControlName="avatar"
                    [required]="true"
                    label="Image 1 (avatar)"
                    placeholder="Drop file or click for select... (.png, .jpg)"
                    [circle]="true"
                    >
                </app-file-loader>

                @for (i of f.images.controls; track $index) {
                    <ng-container formArrayName="images">
                        <app-file-loader
                            [formControlName]="$index"
                            [required]="$index === 0"
                            [label]="'Image ' + ($index+2) +' (background)'"
                            placeholder="Drop file or click for select... (.png, .jpg)"
                            (removeControl)="_removeImage($index)"
                            >
                        </app-file-loader>
                    </ng-container>
                }
            </div>

            <!-- <div class="margin-bottom-2 center">
                <span (click)="_addImage()" class="f2 baron red hovergrow">
                    Add next image
                </span>
            </div> -->

            <app-textarea
                formControlName="bio"
                class="margin-bottom-2"
                [required]="false"
                label="Bio" 
                placeholder="About artist..."
            ></app-textarea>

            <app-button class="margin-top-2 d-flex" 
                [active]="true || form.valid" 
                label="Submit" 
                (submit)="_submit()"
            ></app-button>
    
        </form>
    
    </div>
</div>
