
<div class="form-input">

    <div class="form-input-wrapper">
        <div class="textarea-wrapper">
            <p class="form-input-label">{{_label}}</p>
            <textarea
                [rows]="_rows"
                class="form-input-control"
                [placeholder]="placeholder"
                [value]="value"
                [attr.disabled]="disabled ? true : null"
                (input)="_onInput($event)"
                type="text"
            ></textarea>
        </div>

    </div>

</div>