
<div class="form-input">

    <div class="form-input-wrapper">
        <div class="textarea-wrapper">
            <p class="form-input-label">{{_label}}</p>

            <app-textarea-element
                class="form-input-control"
                [placeholder]="placeholder"
                [value]="value"
                [disabled]="disabled"
                (onInput)="_onInput($event)"
            ></app-textarea-element>
            <textarea
                [hidden]="true"
            ></textarea>
        </div>

    </div>

</div>