
@if (formGroup) {
    <div [formGroup]="formGroup" class="form-container">

        @if (step) {
            <div class="step">

                <div class="form-header margin-bottom-2">
                    <h1 class="dark baron">{{step.name}}</h1>
                    <app-btn label="Reset form" class="light" (click)="_resetForm()"></app-btn>
                </div>

                @if (step.array) {

                    <app-array [step]="step" [rebuildDetector]="rebuildDetector"></app-array>

                    <div class="btns center margin-top-2">
                        <app-btn label="remove" class="grey" (click)="_removeFromArray(step.name)" [active]="this._removeActive"></app-btn>
                        <div></div>
                        <app-btn label="add" class="grey" (click)="_addToArray(step.name)"></app-btn>
                    </div>
                } 
                @else {

                    <app-group [step]="step" [rebuildDetector]="rebuildDetector"></app-group>

                }

            </div>
        }

        <div class="steps margin-top-2">
            @for (step of form.steps; track step.name; let index = $index) {
                <div class="step" [class.active]="index === stepIndex"></div>
            }
        </div>
        
        <div class="btns btns-row margin-top-2">
            <app-btn label="back" [active]="stepIndex > 0" (click)="_back()"></app-btn>
            <div></div>
            @if (stepIndex === form.steps.length-1) {
                <app-btn label="submit" (click)="_submit()"></app-btn>
            } @else {
                <app-btn label="next" (click)="_next()"></app-btn>
            }
        </div>
        

    </div>
}

