@import 'variables';

:host {
    position: relative;
}

.app-footer {
    background-color: $primaryColor;
    color: $primaryColorText;
    z-index: 10;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2*$padding-standard 0;
    }


}

.info {
    display: flex;
    font-size: 12px;
    line-height: 1.4;
}

.link {
    a {
        font-size: 12px;
        font-weight: 500;
        display: flex;
        gap: .5*$padding-standard;
        align-items: center;
        width: fit-content;
        color: $primaryColorText;

        i {
            font-size: 25px;
        }
    }
}

.menu-header {
    padding-right: $padding-standard;
    padding-bottom: .5*$padding-standard;
}

.footer-menu {
    margin-top: auto;

    .link {
        a {
            padding: .5*$padding-standard;
            color: $primaryColorText;
        }
    }

}

@media only screen and (min-width: $desktop) {
    .app-footer {
        .footer-container {
            grid-template-columns: 2fr 1fr 1fr;
        }

    }

    .menu-header {
        text-align: right;
        padding-bottom: $padding-standard;
    }
    .footer-menu {
        .link {
            a {
                margin-left: auto;
            }
        }
    }
}
