@import 'form';

.active {
    .form-input {
        background-color: $control-bg;
        box-shadow: none;
        border-color: $border-color;
    }

    .dates {
        p-calendar {
            .p-datepicker {
                box-shadow: none;
            }
        }
    }
}

.dates {
    
    padding: $control-padding-y 0;
    
    .form-input-label {
        padding: 0 $control-padding-x;
    }
    
    p-calendar {
        
        input {
            @extend .form-input-control;
            padding: 0 $control-padding-x;
        }

        .p-calendar {
            width: 100%;
        }

        .p-datepicker {
            background-color: $control-bg;
            padding: $control-padding;
            border-radius: $input-radius;
            @extend .form-input;
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            
            .p-yearpicker-year,
            .p-monthpicker-month,
            .p-monthpicker-month {
                padding-top: $padding-standard;
                padding-bottom: $padding-standard;
            }
            td {
                span {
                    padding-top: $padding-standard;
                    padding-bottom: $padding-standard;
                    font-weight: 500;
                    transition: $transition-standard;
                    &.p-highlight {
                        font-weight: 700;
                        background-color: $red-transparent;
                        border-radius: 50%;
                    }

                }
            }

            .p-hidden-accessible {
                display: none;;
            }
        }

        .p-datepicker-group {

            .p-datepicker-header {

                margin-bottom: $padding-standard;
                button {
                    border: none;
                    padding: $padding-standard;
                    @extend .fs3;
                    @extend .baron;
                    color: $red;
                    font-weight: 500;
                }

            }

        }
    }
}