@import 'variables';

.desktop {
    .medias {
        .edit-button {
            right: unset;
            top: unset;
            bottom: 20px;
            left: 50px;
        }

        .floating .selector-items {
            top: 85%;
        }

        .icon-button .svg-wrapper svg {
            width: 35px;
        }
    }
}

.medias {
    &.tile {
        overflow: unset;
    }

    .icon-button .svg-wrapper svg {
        width: 25px;
    }

    position: relative;

    .edit-button {
        right: 27px;
        top: 20px;
    }

    .floating {
        .selector-items {
            top: 50px;
            max-width: 150px;

            .icon-button .svg-wrapper svg {
                fill: $dark;
            }
        }
    }

}