<div class="form-page ">

    <form [formGroup]="form" class="form-container margin-bottom-2">

        <h1 class="dark margin-bottom-2 baron">Artist form</h1>

        <div class="control-margin" *ngIf="_managerItems$ | async as items">
            <app-selector
                formControlName="manager"
                label="Manager"
                [required]="true"
                [items]="items"
                [selectCode]="_autoselectManagerUid"
                [allowWriteItem]="true"
            ></app-selector>
        </div>

        <div class="control-margin">
            <app-input
                formControlName="artistName"
                label="Artist name"
                [required]="true"
            ></app-input>
        </div>

        <h3 class="red margin-bottom">Contact data for your manager</h3>

        <div class="control-margin">
            <app-input
                formControlName="firstName"
                label="First name"
                [required]="true"
            ></app-input>
        </div>

        <div class="control-margin">
            <app-input
                formControlName="lastName"
                label="Last name"
                [required]="true"
            ></app-input>
        </div>

        <div class="control-margin">
            <app-input
                formControlName="phoneNumber"
                label="Phone number"
                [required]="true"
            ></app-input>
        </div>

        <div class="control-margin">
            <app-input
                formControlName="email"
                label="Email"
                [required]="true"
            ></app-input>
        </div>
        
        <div class="btns center">
            <app-btn label="submit" class="big" (click)="_submit()"></app-btn>
        </div>

    </form>
    
</div>