@import 'variables';
@import 'color';
@import 'form';

.active {
    .form-input.app-selector {
        border-color: $yellow;
        background-color: $input-bg;

        .selector-items {
            opacity: 1;
            transform: scaleY(1) translateY(0);
            border-color: $yellow;
        }
    }
}

.app-selector {
    position: relative;

    &:hover {
        .form-input {
            border-color: $yellow;
        }
    }
}


.form-input {
    z-index: 3;
    @extend .pointer;
}
.form-input.app-selector {
    padding-right: calc($padding-standard + $scroll-width);
    .selector-items {
    
        $selector-item-height: 45px;
        max-height: 8*$selector-item-height;
    
        overflow-y: auto;
    
        position: absolute;
        z-index: 4;
        top: calc(100% - 0.5*$padding-standard);
        left: -1px;
        right: -1px;
    
        padding-top: $padding-standard;
        background-color: $control-bg;
        border-bottom-left-radius: $form-radius;
        border-bottom-right-radius: $form-radius;
        border: $input-border;
        border-top: 0;
    
        transition: $transition-standard;
        transform: scaleY(0) translateY(-70%);
        opacity: 0;
    
        .selector-item {
            padding: 0 $padding-standard;
            height: $selector-item-height;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            
            cursor: pointer;
            transition: $transition-standard;
            &:hover {
                background-color: $yellow-transparent;
            }
    
        }
    }
}