@import 'color';
@import 'variables';
@import 'variables-desc';
@import 'form';


$view-padding: 4*$padding-standard;

.desktop {
    .image-bg {
        max-height: 100vh;
    }

    .image-bg-item {

        max-height: 100vh;
    }

    .view-content {
        .avatar-container {
            padding-left: $view-padding;
            padding-right: $view-padding;
            gap: 2*$padding-standard;
            align-items: center;

            app-btn {
                margin-top: auto;
                margin-left: 0;
            }

            .avatar {
                width: 17vw;
                height: 17vw;
            }
        }

        .content {
            padding-right: $view-padding;
            padding-left: $view-padding;
            gap: 2*$padding-standard;
            .col66 {
                width: calc(67% - 2*$padding-standard);
            }
            .col33 {
                width: 33%;
            }

            .about-me {
                order: 1;
            }

        }

    }

}

.image-bg {
    position: fixed;
    width: 100vw;
    max-height: 60vw;
    white-space: nowrap;
    background-color: $dark;
    opacity: 0.7;
}

.image-bg-container {
    white-space: nowrap;
    width: 100%;
    background-color: $dark;
    overflow-x: auto;
}

.image-bg-item {
    vertical-align: top;
    width: 100%;
    max-height: 80vw;
    top: 0px;
    position: absolute;
    object-fit: cover;
    object-position: top;
    
    transform: scale(1.1);
    z-index: 1;
    transition: $transition-standard;
}

.view-content {
    position: relative;
    min-height: 200vh;

    .spacer {
        height: 35vh;
    }

    .avatar-container {
        padding-left: $view-margin-1-desc;
        padding-right: $view-margin-1-desc;
        gap: $padding-standard;
        display: flex;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
        h1 {
            text-shadow: $text-shadow;
            margin-bottom: 0.5*$padding-standard; 
        }

        .flexer {
            flex-grow: 1;
        }

        .avatar {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 2px solid $light;
            box-shadow: $text-shadow;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        app-btn {
            margin-left: auto;
        }
        
      
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: $padding-standard;

        padding-right: $view-margin-1;
        padding-left: $view-margin-1;

        .col66 {
            width: 100%;
        }
        .col33 {
            width: 100%;
        }

        & > div {
            order: 5;
        }

        .about-me {
            order: 6;
        }
    }
    
}

.menu-button {
    padding-top: 0.5*$header-margin;
    margin-right: $view-padding;
    display: flex;
    justify-content: flex-end;
}

