<div class="section feedback-section">

    <div class="section-container">
        
        <div class="textarea-wrapper">
            <div class="section-top section-header-margin">
                <div>
                    <h2 class="fs1 baron primary uppercase margin-bottom">How can we make better?</h2>
                    <h2 class="fs3 bold text-color">We'd love your feedback or suggestions</h2>
                </div>
            </div>

            <app-textarea-element
                [value]="value"
                (onInput)="_onInput($event)"
                [disabled]="false"
                [rowsInitial]="DESKTOP ? 7 : 4"
            ></app-textarea-element>

            <p-button 
                (click)="_send()" 
                [raised]="true" 
                class="center right margin-top-2"
            >Send</p-button>
        </div>


    </div>
</div>
