@import 'variables';
@import 'color';

.desktop {
    .avatar {
        width: 17vw;
        height: 17vw;
    }
}


.avatar {
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 2px solid $light;
    box-shadow: $text-shadow;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.avatar-mock {
    background-color: $light;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/avatar-mock.png');
    background-size: contain;
    background-position: center;
}

.edit-button {
    top: 5%;
    right: 25%;
}