<div class="avatar cover-center">

    <ng-container *ngIf="_editMode$ | async as editModes">
        <input type="file" #input (change)="onFileChange($event)" [hidden]="true"/>

        <div class="edit-button" (click)="_openFileSelector()">
            <span class="dark">edit avatar</span>
        </div>
    </ng-container>

    <img *ngIf="tempAvatar$ | async as tempAvatar; else notTemp" [src]="tempAvatar" alt="avatar">

    <ng-template #notTemp>

        <img *ngIf="_currentAvatarUrl$ | async as url; else mock" [src]="url" alt="avatar">

        <ng-template #mock><div class="avatar-mock"></div></ng-template>

    </ng-template>


</div>