@import 'variables';

.menu-button-container {
    background-color: $primaryColor;
    color: $primaryColorText;
    overflow: hidden;
    border-radius: $borderRadius;
    box-shadow: $shadow-standard;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
    transition: $transition-standard;

    text-wrap: nowrap;

    &:hover {
        box-shadow: $card-shadow;
    }
    
    width: unset;
    max-height: 45px;

    .p-button:focus {
        box-shadow: unset;
    }
}

.menu-button-children {
    display: flex;
    align-items: center;
    transition: none;
    color: $highlightBg;
    
    .menu-button-child {
        background-color: $primaryColor;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 0;
        color: $primaryColor;
        font-size: 0;

        transition: $transition-standard;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        width: auto;
        max-width: 0;
        
        &.open {
            max-width: 150px;
            height: 100%;
        }
    }
}