@import 'variables';
@import 'color';
@import 'font';
@import 'form';


.menu-button-container {
    background-color: $red;
    color: $dark;
    overflow: hidden;
    border-radius: $radius-standard;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
    transition: $transition-standard;

    text-wrap: nowrap;

    &:hover {
        box-shadow: $card-shadow;
    }
    
    width: unset;
    height: 50px;

    .btn {

        padding: 0.5*$padding-standard 1.5*$padding-standard;
    }

    .active {
        .btn {
            &:hover {
                transform: none;
            }
        }
    }
}

.menu-button-children {
    display: flex;
    align-items: center;
    color: $red;
    transition: none;
    @extend .btn-font;
    
    .menu-button-child {
        width: 0;
        padding: 0;
        transition: $transition-standard;

        cursor: pointer;
        background-color: $red;
        border-radius: $radius-standard;
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        
        &:hover {
            background-color: $active-red;
        }
    }
}

.menu-button-open {

    .menu-button-children {
        color: $dark;
    }

    .menu-button-child {
        width: 130px;
        height: 100%;
    }
}