@import 'variables';
@import 'form';

.icon-button {

    &.button {
        cursor: not-allowed;
        &.active {
            @extend .hovergrow;
            @extend .max;
        }
    }

    &.border {
        display: flex;
        overflow: hidden;
        border: $input-border;
        border-radius: 3px;
    }

    display: flex;

    .mat-icon {
        width: unset;
        height: unset;
        font-size: 30px;
    }

    img {
        max-height: 50px;
    }
}

.side-img {
    img {
        max-height: 30px;
    }

    svg {
        width: 30px;
        height: 30px;
        fill: $dark;
    }

}

