<div class="media-item">

    @if (_editMode$ | async) {
        <div class="edit-button" (click)="_remove()">
            <span class="dark">remove</span>
        </div>

        <div class="edit-button edit" (click)="_edit()">
            <span class="dark">edit</span>
        </div>
    }
    
    <a class="media-item-container hovergrow" [href]="media.url" target="_blank" (click)="$event.stopPropagation()">
    
        <app-icon-button
            class="primary"
            [button]="false"
            [mediaIcon]="media.code"
        ></app-icon-button>
    
        @if (!hideName) {
            <p class="secondary">{{media.code | fromSnakeCase}}</p>
        }
    
    </a>
</div>
