<p-timeline [value]="timeline" [class.edit-mode]="editMode">

    <ng-template pTemplate="opposite" let-event>
        <div class="opposite" *ngIf="event.id === 'TODAY' && event.startDate">
            <div class="text-color">Today</div>
        </div>
        <div class="opposite" *ngIf="event.id !== 'TODAY' && event.startDate">
            <span *ngIf="!event.endDate">{{event.startDate | date }}</span>
            <span *ngIf="event.endDate">{{event.startDate | date : 'MMM dd' }}</span>
            <span *ngIf="event.endDate"> - {{event.endDate | date }}</span>
        </div>
    </ng-template>

    <ng-template pTemplate="content" let-event>
        <div class="content" *ngIf="event.id !== 'TODAY'">
            <p-card class="desktop-event-tile"
                [header]="event.header + (editMode && event.status ? ' - ' + event.status : '')" 
                [subheader]="editMode ? undefined : event.subheader">
                <app-country *ngIf="!editMode && event.countryCode" [countryCode]="event.countryCode"></app-country>
                <div class="link" *ngIf="!editMode && event.txt">{{event.txt}}</div>
            </p-card>

            <p-card class="mobile-event-tile" 
                [header]="event.header" 
                [subheader]="(event.startDate | date) || ''">
            </p-card>
        </div>

        <div *ngIf="event.id === 'TODAY'" class="mobile-event-tile">
            <div class="text-color">Today</div>
        </div>

    </ng-template>
    
</p-timeline>