@import 'variables';

.logo {
    display: flex;
    width: 100px;
}

.landing {
    .logo {
        width: 250px;
    }
}

.header {
    .logo {
        padding: 0.2*$padding-standard;
        height: $header-height;
    }
}

.app-footer {
    .logo {
        width: 200px;
        svg,
        g {
            fill: $highlightBg;
        }
    }
}

g,
svg {
    fill: $primaryColor;
}