
<p-dropdown 
    [(ngModel)]="value"
    [options]="items"
    [filter]="true"
    [showClear]="true"
    [optionLabel]="optionLabel"
    [placeholder]="placeholder" 
    [class.with-image]="value?.imgUrl"
    >
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div class="item-template" [class.with-image]="selectedOption.imgUrl">
                @if (selectedOption.imgUrl) {
                    <img [src]="selectedOption.imgUrl" class="item-image item-image-border" />
                }
                <div>{{ selectedOption.name }}</div>
            </div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="item-template" [class.with-image]="item.imgUrl">
            @if (item.imgUrl) {
                <img [src]="item.imgUrl" [alt]="item.name" class="item-image item-image-border" />
            }
            @if (item.svg) {
                <app-icon-button
                    class="dropdown-img"
                    [button]="false"
                    [mediaIcon]="item.svg"
                ></app-icon-button>
            }
        <span>{{ item.name }}</span>
        </div>
    </ng-template>
</p-dropdown>