<div class="form-input" [class.active]="active" (click)="_openFileSelector()">
    
    <input type="file" (change)="onFileChange($event)" />

    <div class="form-input-wrapper">

        <div>
            <p class="form-input-label">{{_label}}</p>
        
            @if (value) {
                <span class="form-input-control">{{value.name}}</span>
            } @else {
                <span class="placeholder">{{placeholder}}</span>
            }
        </div>

        <app-icon-button
            icon="delete_forever"
            [show]="!!value"
            (click)="_removeFile()"
        ></app-icon-button>

        @if (!required && !value) {
            <app-icon-button
                icon="close"
                color="gray"
                (click)="removeControl.emit()"
            ></app-icon-button>
        }

    </div>

    @if (value) {
        <app-file-view
            [file]="value || undefined"
            [circle]="circle"
        ></app-file-view>
    }

</div>

