@import 'variables';

.step {
    margin-bottom: $padding-standard;
}

.step-name {
    margin: $padding-standard;
    p {
        font-size: 14px;
        color: $primaryColor;
    }
}

.array-group {
    padding: $padding-standard;
    &:not(:last-child) {
        margin-bottom: 2*$padding-standard;
    }
}