@import 'color';
@import 'variables';
@import 'font';

.desktop {
    .active {
        .btn {
            &:hover {
                transform: scale(1.05);
                background-color: $redActive;
            }
        }
        &.light {
            .btn {
                &:hover {
                    background-color: $light;
                }
            }
        }
    }

    .yellow {
        .btn:hover {
            background-color: $yellowDark;
            
        }
    }
    .grey {
        .btn:hover {
            background-color: $light;
            
        }
    }
    .green {
        .btn:hover {
            background-color: $greenLight;
        }
    }
}


.active {
    .btn {
        opacity: 1;
        cursor: pointer;
    }
}
.light {
    .btn {
        background-color: $light;
    }
}
.yellow {
    .btn {
        background-color: $yellowDark;
    } 
}
.grey {
    .btn {
        background-color: $grey;
    }
}
.green {
    .btn {
        background-color: $green;
    }
}

.desktop {
    .big {
        .btn {
            padding: $padding-standard 3*$padding-standard;
        }
    }
}

.big {
    .btn {
        padding: 0.8*$padding-standard 1.2*$padding-standard;
        @extend .fs3;
        text-transform: uppercase;
        font-weight: 600;
    }
}


.btn {
    overflow: hidden;
    cursor: not-allowed;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $padding-standard*0.5;
    padding: 8px $padding-standard;
    height: 100%;
    box-shadow: $shadow-standard;
    text-wrap: nowrap;
    
    border-radius: $radius-standard;

    transition: $transition-standard;
    opacity: 0.6;

    background-color: $red;
    color: $bgOne;

    @extend .btn-font;
    
    button {
        display: flex;
    }

    &.no-shadow {
        box-shadow: unset;
    }
    
}
